<div class="container">
	<div class="content-wrapper"> 
		<section class="content-header">
			<h1>Inventory Count</h1>
			<ol class="breadcrumb">
				<li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#stockControl">Stock Control</a></li>
				<li><a href="#inventoryCount">Inventory Count</a></li>
				<li class="active">Inventory Count Create</li>
			</ol>
		</section>
		<section class="content-header"></section>
		<div id="mydiv" ng-show="globalPageLoader" ng-cloak>
			<div class="loader"></div>
		</div>

		<section class="content" ng-show="!globalPageLoader" ng-cloak>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="box">
						<div class="box-header">
							<i class="fi-page text-blue" style="font-size: 3em;"></i>
							<h3 class="box-title"> Details</h3>
							<div class="alert alert-success alert-sm" ng-show="success"
								ng-bind="successMessage" ng-cloak></div>
							<div class="alert alert-danger alert-sm" ng-show="error"
								ng-bind="errorMessage" ng-cloak></div>
							<div class="alert alert-danger alert-sm" ng-show="warning"
								bind-html-unsafe="warningMessage" ng-cloak></div>
						</div>
						<!-- /.box-header -->
						<div class="box-body no-padding">
							<div class="box box-primary">
								<div class="row">
									<div class="col-md-1"></div>
									<div class="col-md-5">

										<div class="box-header with-border"></div>
										<!-- /.box-header -->
										<!-- form start -->
										<form class="form-horizontal">
											<div class="box-body">												
												<div class="form-group">
													<label for="inputEmail3" class="col-sm-4 control-label">Name / Reference</label>
													<div class="col-sm-8">
														<input type="text" class="form-control"
															id="Name" placeholder="Name / Inventory Couunt Reference No..."
															data-ng-model="inventoryCountBean.inventoryCountRefNo" ng-maxlength="100"
															ng-pattern='/^[-@:./#&+\w\s]*$/' required>
															<span ng-show="!inventoryCountBean.inventoryCountRefNo" style="color:red;">* Enter Name/ Reference</span>
													</div>
												</div>												
											</div>
										</form>
									<div class="form-group">
														<label for="outlet" class="col-sm-4 control-label">Outlet</label>
														<div class="col-sm-8">
															<select class="form-control " data-native-menu="false" ng-disabled="true"
																data-role="listview"
																data-ng-model="inventoryCountBean.outletId" >
																<option value="-1" >Select Outlet</option>
																<option ng-repeat="outlet in outletList"
																	value="{{outlet.outletId}}">{{outlet.outletName}}</option>
															</select> <span ng-show="inventoryCountBean.outletId==-1" 
																style="color: red;">* Select outlet</span>
														</div>
													</div>
														
									</div>
									<div class="col-md-5">

										<div class="box-header with-border"></div>
										<!-- /.box-header -->
										<!-- form start -->
										<form class="form-horizontal">
											<div class="box-body">											
												  <div class="form-group">
														<label for="inputEmail3" class="col-sm-4 control-label">Inventory Count Type</label>
														<div class="col-sm-8">
															<select class="form-control " data-native-menu="false"
																data-role="listview"
																data-ng-model="inventoryCountBean.inventoryCountTypeId">
																<option value="-1" >Select Inventory Count Type</option>
																<option ng-repeat="inventoryCountType in inventoryCountTypeBeansList"
																	value="{{inventoryCountType.inventoryCountTypeId}}">{{inventoryCountType.inventoryCountTypeDesc}}</option>
															</select> <span ng-show="inventoryCountBean.inventoryCountTypeId==-1"
																style="color: red;">* Select Inventory Count Type</span>
														</div>
													</div>
												  <div class="form-group">
													<label for="inputEmail3" class="col-sm-4 control-label">Remarks</label>
													<div class="col-sm-8">
														<input type="text" class="form-control"
															id="Name" placeholder="Remarks..."
															data-ng-model="inventoryCountBean.remarks" ng-maxlength="100"
															ng-pattern='/^[-@:./#&+\w\s]*$/' required>
															<span ng-show="!inventoryCountBean.remarks" style="color:red;">* Remarks</span>
													</div>
												</div>
											</div>
										</form>

									</div>
									<div class="col-md-1"></div>
								</div>
							</div>

						</div>
						<!-- /.box -->
							<div class="box-footer text-right">
								<button class="btn btn-primary btn  "
									ng-click="addInventoryCount()" ng-disabled="warning ||!inventoryCountBean.inventoryCountRefNo || inventoryCountBean.outletId == -1 || inventoryCountBean.inventoryCountTypeId ==-1 || !inventoryCountBean.remarks"  ng-show="!loading">Save</button>
								<button  ng-show="loading" class="btn btn-primary btn">
							    	Processing<i class="fa fa-arrow-right text-muted fa-spinner fa-spin " ></i>
				       	    </button>
								<a href="#inventoryCount"><button class="btn btn-default btn-sm pull-right btn-primary-spacing">Cancel</button></a>

							</div>
					</div>
					
					<!-- /.box-body -->
					
				</div>
				<!-- /.box -->

			</div>
		</section>
		<div class="col-md-1"></div>
	</div>
</div>
 <div class="container">
		<div class="row footer-row">
			<div class="col-lg-12 text-center">
				<div class="footerdiv navbar-fixed-bottom">&copy; copyrights ShopVitals 2021</div>
			</div>
		</div>
	</div>