<div class="container">
	<div class="row">
	  <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
         New Notifications
          </h1>
          <ol class="breadcrumb">
            <li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">New Notifications</li>
          </ol>
        </section>
	     <section class="content-header">
   
    </section>
		 <div class="top-buffer-contact"> </div>
	 <div id="mydiv" ng-show="globalPageLoader" ng-cloak>
		<div class="loader"></div>
	</div>
			<!-- Main content -->
			<section class="content" ng-show="!globalPageLoader" ng-cloak>
  			 <div class="row">
	  <div class="col-md-1">
	   </div>
	   <div class="col-md-10">
	   		<vd-tabs modifier="no-border large"
					class="ng-scope ng-isolate-scope vd-tabs vd-tabs--no-border vd-tabs--large">
				<vd-tab type="anchor" active="this.activeTab == 'notifications'"
					class="po-notifications-tab ng-scope ng-isolate-scope vd-tab vd-tab--active"
					link="'#notifications'"> <a class="vd-tab-button ng-scope"
					ng-href="#notifications" href="/notifications/"><span class="ng-scope">
					  New Notifications </span></a> </vd-tab> <vd-tab
					class="po-notifications-tab ng-scope ng-isolate-scope vd-tab" type="anchor"
					active="this.activeTab == 'notificationsReaded'" link="'#notificationsReaded'"> <a
					class="vd-tab-button ng-scope" ng-href="#notificationsReaded"><span
					class="ng-scope">Marked Notifications </span></a> </vd-tab> </vd-tabs>
	   
	  
			   <vd-section sticky="" type="secondary"
						class="cv-action-bar vd-section vd-section--secondary"
						role="region">
					<div class="vd-section-wrap">
						<div
							class="vd-flex vd-flex--forced-row vd-flex--row vd-flex--justify-between vd-flex--align-center  ng-scope">
							  
              
							<span>   A list of all of your Notifications. <b><i ng-hide="userRole==1">Your unread messages count is {{unReadNotifications}}</i></b>
							</span>
							<div> 
								<button class="btn btn-primary btn-lg" ng-hide="userRole==1" ng-click="markAllAsRead()"><span>Mark all as read</span>
								<i class="fa fa-spinner fa-spin" aria-hidden="true"  ng-if="processing"></i>
								</button>
								
							</div>
							<!-- <div> 
								<button class="btn btn-primary btn-sm" ng-click="getAllUnReadNotifications" >
								<><>
								</button>
							</div> -->
							<!-- <div class="vd-button-group">
							 <button class="btn  btn-primary btn-lg" ng-click="loadAllNotifications()" ng-show="dataLoading">Load All Notifications</button>
                                
							</div>
							<div class="vd-button-group" ng-show="!dataLoading">
									<button class="btn  btn-primary btn-lg" ng-disabled="true">
										Loading All Notifications<i
											class="fa fa-arrow-right text-muted fa-spinner fa-spin "></i>
									</button>

								</div> -->
							
							
						</div>
					</div>
					</vd-section>

	    	
	    			<div class="box box-primary newFont">
                <div class="box-header">
               <div class="alert alert-success alert-sm" ng-show="success"
								ng-bind="successMessage" ng-cloak></div>
							<div class="alert alert-danger alert-sm" ng-show="error"
								ng-bind="errorMessage" ng-cloak></div>
				 </div><!-- /.box-header -->
				<div class="box-body">
				<table id="myTable"  class="display" cellspacing="0" width="100%"  ng-clock ng-if="notificationBeanList.length > 0">
				    <thead >
				        <tr >
				           <th>Notification To</th>
				           <th>Notification From</th>
				           <th>Description</th>
				           <th>Created Date</th>
				           <th ng-hide="userRole==1">Mark as read</th>
				            
				        </tr>
				    </thead>
				    <tbody>
				          <tr ng-if="notificationBeanList.length > 0" ng-repeat="notificationBean in notificationBeanList">
						
				        <td ng-bind="notificationBean.outletByOutletIdToName"></td>
				        <td ng-bind="notificationBean.outletByOutletIdFromName"></td>
				        <td ng-bind="notificationBean.description"></td>
				        <td ng-bind="notificationBean.createdDate"></td>
				        <td><a href="" ng-hide="userRole==1" class="btn btn-sm {{notificationBean.markAsRead ? 'btn-default' : 'btn-success'}}" data-toggle="tooltip" title="{{notificationBean.markAsRead ? 'In Active' : 'Active'}}" ng-click="editNotification(notificationBean)">
				        <i class="fa fa-power-off" aria-hidden="true"></i>
				        <i class="fa fa-spinner fa-spin" aria-hidden="true" ng-if="readLoader && notificationsId==notificationBean.notificationId"></i>
				        </a></td>
						
				        </tr>
				          
				    </tbody>
				</table>
				</div>
			</div>
                 <div class="top-buffer-contact"> </div>
                 
                         </div>
               <div class="col-md-2">
	   </div>
	</div>
	</section>
			</div>
		<!--  </div>-->
	</div>
</div>

        

 <div class="container">
		<div class="row footer-row">
			<div class="col-lg-12 text-center">
				<div class="footerdiv navbar-fixed-bottom">&copy; copyrights ShopVitals
					2019</div>
			</div>
		</div>
	</div>
	
<!-- Modal -->
	<modal title="New Tag" visible="showNewTagModal" ng-cloak>
	
	<div class="registerForm popup-transparent">
		<li class="list-group-item">
			<form class="form-horizontal" name="myForm">
				<div class="box-body">
					<div class="alert alert-danger alert-sm" ng-show="paymentTypeAddError"
								ng-bind="paymentTypeAddErrorMessage" ng-cloak></div>
					
					
					<div class="form-group">
						<label for="tag" class="col-sm-4 control-label">Tag Name</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="tag"
								placeholder="Tag Name..." name="tag"
								data-ng-model="tagBean.tagName" ng-pattern='/^[a-zA-Z0-9\s]+$/' required maxlength="100">
						</div>
					</div>
				</div>
			</form>
			<div class="box-footer">
				<button
					class="btn btn-primary btn-sm pull-right btn-primary-spacing"
					ng-click="addTag()"
					ng-disabled="!tagBean.tagName"
					ng-show="!loading">Add Tag</button>
				<button ng-show="loading"
					class="btn btn-primary btn-sm pull-right btn-primary-spacing">
					Add Tag Processing<i
						class="fa fa-arrow-right text-muted fa-spinner fa-spin "></i>
				</button>
				<button
					class="btn btn-default btn-sm pull-right btn-primary-spacing"
					data-dismiss="modal">Cancel</button>

			</div>
		</li>
	</div>

	</modal>

	<!-- Modal end -->	
	<!-- Modal -->
	<modal title="Edit Tag" visible="showUpdateTagModal" ng-cloak>
	
	<div class="registerForm popup-transparent">
		<li class="list-group-item">
			<form class="form-horizontal" name="myForm">
				<div class="box-body">
					<div class="alert alert-danger alert-sm" ng-show="paymentTypeAddError"
								ng-bind="paymentTypeAddErrorMessage" ng-cloak></div>
					
					
					<div class="form-group">
						<label for="tag" class="col-sm-4 control-label">Tag Name</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="tag"
								placeholder="Tag Name..." name="tag"
								data-ng-model="updateTagBean.tagName" ng-pattern='/^[a-zA-Z0-9\s]+$/' required maxlength="100">
						</div>
					</div>
				</div>
			</form>
			<div class="box-footer">
				<button
					class="btn btn-primary btn-sm pull-right btn-primary-spacing"
					ng-click="updateTag()"
					ng-disabled="!updateTagBean.tagName"
					ng-show="!loading">Update Tag</button>
				<button ng-show="loading"
					class="btn btn-primary btn-sm pull-right btn-primary-spacing">
					Update Tag Processing<i
						class="fa fa-arrow-right text-muted fa-spinner fa-spin "></i>
				</button>
				<button
					class="btn btn-default btn-sm pull-right btn-primary-spacing"
					data-dismiss="modal">Cancel</button>

			</div>
		</li>
	</div>

	</modal>

	<!-- Modal end -->	

    <style>
.center {
    margin-top:50px;   
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
        padding: 0;
}
    
.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
}
    
.modal-footer .btn-group:last-child > button {
    border-right: 0;
}
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    width: 65%;
    margin-left: 25%;
}
</style>
<!-- <script>
var b1 = document.getElementById("btnOUs");

b1.onclick = function() {
  b1.style.background = "red";  
}
</script> -->
    <!-- DataTables -->
    
   
     <script src="resources/js/jquery.dataTables.min.js"></script>
    
     <script src="resources/js/dataTables.responsive.min.js"></script>
     <script src="resources/js/dataTables.buttons.min.js"></script>
     
  
       
   
   
 <!-- <script>
      $(function () {
    	//  document.body.style.overflow = 'hidden';
    	
    	  setTimeout(
    			  function() 
    			  {
    			  $('#myTable').DataTable( {
    			        responsive: true
    			    } );
    				 
    			  }, 1);
      
      });
      $(window, ".wrapper").resize(function () {
    	  setTimeout(
    			  function() 
    			  {
    				  var oTable = $('#myTable').dataTable();
    					oTable.fnDestroy();
    			  $('#myTable').DataTable( {
    			        responsive: true
    			    } );
    				 
    			  }, 1);
    	  });
    </script> -->
<style>
 .user-block {
    white-space: nowrap;
}

@media (min-width: 768px)
.user-block {
    width: inherit;
}
.avatar {
    display: inline-block;
    position: relative;
}
 .user-block .user-info {
    display: inline-block;
    width: 55%;
    vertical-align: middle;
    margin-left: 10px;
}
.user-block img {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
}


</style>




