<div class="container">
	<div class="row">
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Support</h1>
				<ol class="breadcrumb">
					<li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Support</li>
				</ol>
			</section>
			<section class="content-header"></section>
			<div id="mydiv" ng-show="globalPageLoader" ng-cloak>
				<div class="loader"></div>
			</div>
			<!-- Main content -->
			<section class="content" ng-show="!globalPageLoader" ng-cloak>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-3">
						<!-- Profile Image -->
						<div class="box box-primary">
							<div class="box-body">
								<h3 class="profile-username text-center" ng-bind="createTicket"></h3>



								<ul class="list-group list-group-unbordered">
									<li class="list-group-item">
										<div class="alert alert-success alert-sm"
											ng-show="supportSuccess" ng-bind="supportSuccessMessage"
											ng-cloak></div>
										<div class="alert alert-danger alert-sm"
											ng-show="supportError" ng-bind="supportErrorMessage" ng-cloak></div>
									</li>

									<li class="list-group-item"><select
										class="form-control half-input" data-native-menu="false"
										data-role="listview" ng-cloak
										ng-disabled="isEmployeeNotSelected && isScheduleSelected"
										ng-change="getEmployeesWorkScheduleForSelectedSchedule()"
										data-ng-model="ticket.severityAssociationId"
										ng-init="ticket.severityAssociationId='-1'">
											<option value="-1" ng-bind="selectSeverityText"></option>
											<option ng-repeat="schedule in severities"
												value="{{schedule.id}}" ng-bind="schedule.value"></option>
									</select></li>
									<li class="list-group-item"><input type="text"
										class="form-control" name="ticketDetail"
										ng-model="ticket.description" maxlength=35
										placeholder="{{ticketNamePlaceHolder}}" required></li>
									<li class="list-group-item"><textarea rows="6"
											class="form-control" name="ticketDetail"
											ng-model="ticket.ticketDetail" required
											placeholder="{{describeIssuePlaceHolder}}" maxlength="300"></textarea></li>
								</ul>


								<button type="submit" class="btn btn-primary btn-block"
									ng-show="!showProcessing" ng-click="addTicket(ticket)"
									ng-disabled="!ticket.ticketDetail || !ticket.description|| ticket.severityAssociationId=='-1'"
									ng-bind="ticketButtonText" ng-cloak></button>
								<button ng-show="showProcessing"
									class="btn btn-primary btn-block" ng-cloak>
									Adding <i class="fa fa-arrow-right fa-spinner fa-spin "></i>
								</button>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->

						<!-- About Me Box -->

					</div>
					<!-- /.col -->
					<div class="col-md-7">
						<vd-section sticky="" type="secondary"
							class="cv-action-bar vd-section vd-section--secondary"
							role="region">
						<div class="vd-section-wrap">
							<div
								class="vd-flex vd-flex--forced-row vd-flex--row vd-flex--justify-between vd-flex--align-center  ng-scope">


								<span> Open Support ticket for quick resolutions of any
									issues found in system. </span>

							</div>
						</div>
						</vd-section>
						<div class="box box-primary">
							<div class="nav-tabs-custom">
								<ul class="nav nav-tabs">
								</ul>
								<section id="directives-calendar">


									<div class="row-fluid">
										<div class="span4">

											<table id="myTable" class="display" cellspacing="0"
												width="100%">
												<thead>
													<tr>

														<th ng-bind="ticketId"></th>
														<th ng-bind="ticketName"></th>
														<th ng-bind="severity"></th>
														<th ng-bind="createdBy"></th>
														<th ng-bind="createdDate"></th>
														<th ng-bind="status"></th>



													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="ticketBean in tickets | orderBy:predicate">

														<td ng-click="getTicketActivities(ticketBean)"><a
															href="" ng-bind="ticketBean.ticketId"></a></td>
														<td ng-bind="ticketBean.description"></td>
														<td ng-bind="ticketBean.severityDescription"></td>
														<td ng-bind="ticketBean.createdBy"></td>
														<td ng-bind="ticketBean.createdDate"></td>
														<td ng-click="getTicketActivities(ticketBean)"
															ng-class="ticketBean.ticketStatus=='Closed' ? 'badge bg-green' : 'badge bg-red' "
															style="margin-top: 5px;"><a href=""
															style="color: white" ng-bind="ticketBean.ticketStatus"></td>


													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
							<!-- /.nav-tabs-custom -->
						</div>
					</div>
					<!-- /.col -->

					<div class="col-md-1"></div>
				</div>
			</section>
			<!-- /.content -->

		</div>

	</div>
	<!-- /.content-wrapper -->
</div>


<div class="modal fade ng-scope" id="alertBox" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
	style="display: none;" ng-cloak>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="alert alert-danger">
				<h4 class="" id="myModalLabel">Alert!</h4>
			</div>
			<div class="modal-body ng-binding" ng-bind="alertMessage"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>



<script src="resources/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="resources/js/jquery.dataTables.min.js"></script>

<script src="resources/js/dataTables.responsive.min.js"></script>

