<div class="container" id="hirearchyPage">
	<div class="row">
		<div class="content-wrapper">
			<section class="content-header">
				<h1>Customer Details</h1>
				<ol class="breadcrumb">
					<li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
					<!--  <li><a href="#empView">Managed Services</a></li> -->
					<li><a href="#customers">Customers</a></li>
					<li class="active">Customer Details</li>
				</ol>
			</section>
			<section class="content-header"></section>
			<div id="mydiv" ng-show="globalPageLoader" ng-cloak>
				<div class="loader"></div>
			</div>

			<section class="content" ng-show="!globalPageLoader" ng-cloak>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<vd-section sticky="" type="secondary"
							class="cv-action-bar vd-section vd-section--secondary"
							role="region">
						<div class="vd-section-wrap">
							<div
								class="vd-flex vd-flex--forced-row vd-flex--row vd-flex--justify-between vd-flex--align-center  ng-scope">

								<div class="vd-button-group">
									<button class="btn btn-success btn-lg"
										ng-click="updateCustomer()">Edit Customer</button>

								</div>

							</div>
						</div>
						</vd-section>
						<div class="box">

							<!-- /.box-header -->
							<div class="box-body no-padding">
								<div class="box box-primary">
									<div class="row">
										<div class="col-md-1"></div>
										<div class="col-md-4">

											<div class="box-header with-border"></div>
											<!-- /.box-header -->
											<!-- form start -->
											<form class="form-horizontal">
												<div class="box-body">

													<div class="form-group">
														<label for="inputEmail3" class="col-sm-6 control-label">Group</label>
														<div class="col-sm-6">
															<span class="unit control-label"
																ng-bind="customerBean.customerGroup"></span>
														</div>
													</div>

													<div class="form-group">
														<label for="inputEmail3" class="col-sm-6 control-label">Contact
															name</label>
														<div class="col-sm-6">
															<span class="unit control-label"
																ng-bind="customerBean.contactName"></span>
														</div>
													</div>
													<hr class="vd-hr">
													<div class="form-group">
														<label for="inputEmail3" class="col-sm-4 control-label">Total
															earned</label>
														<div class="col-sm-8">
															<span class="unit control-label"
																ng-bind="customerBean.totalEarned"></span>
														</div>
													</div>
													<!-- <div class="form-group">												
													 <label for="inputEmail3" class="col-sm-6 control-label">Physical address</label>
													<div class="col-sm-6">
												    <table id="phyAddressTable"  class="display" cellspacing="0" width="100%"  ng-clock>
														<tr>
														<td class="unit control-label" ng-bind="customerBean.addressBeanList[0].street"></td>
														</tr>
														<tr>
														<td class="unit control-label" ng-bind="customerBean.addressBeanList[0].suburb"></td>
														</tr>
														<tr>
														<td class="unit control-label" ng-bind="customerBean.addressBeanList[0].city"></td>
														</tr>
														<tr>
														<td class="unit control-label" ng-bind="customerBean.addressBeanList[0].state"></td>
														</tr>
														</tr>
														<tr>
														<td class="unit control-label" ng-bind="customerBean.addressBeanList[0].postalCode"></td>
														</tr>
														</table>
													</div>
												</div> -->
													<!-- <div class="form-group">
													<label for="inputEmail3" class="col-sm-6 control-label">Postal address</label>
													<div class="col-sm-6">
														 <table id="phyAddressTable"  class="display" cellspacing="0" width="100%"  ng-clock>
														<tr>
														<td class="unit control-label" ng-bind="customerBean.addressBeanList[1].street"></td>
														</tr>
														<tr>
														<td class="unit control-label" ng-bind="customerBean.addressBeanList[1].suburb"></td>
														</tr>
														<tr>
														<td class="unit control-label" ng-bind="customerBean.addressBeanList[1].city"></td>
														</tr>
														<tr>
														<td class="unit control-label" ng-bind="customerBean.addressBeanList[1].state"></td>
														</tr>
														</tr>
														<tr>
														<td class="unit control-label" ng-bind="customerBean.addressBeanList[1].postalCode"></td>
														</tr>
														</table>
													</div>
												</div> -->


												</div>
											</form>

										</div>
										<div class="col-md-4">

											<div class="box-header with-border"></div>
											<!-- /.box-header -->
											<!-- form start -->
											<form class="form-horizontal">
												<div class="box-body">
													<div class="form-group">
														<label for="inputEmail3" class="col-sm-4 control-label"><b>Balance</b></label>
														<div class="col-sm-6">
															<span class="unit control-label"
																ng-bind="customerBean.balance"></span>
														</div>
													</div>
													<div class="form-group">
														<label for="inputEmail3" class="col-sm-4 control-label"><b>Store
																Credit</b></label>
														<div class="col-sm-8">
															<span class="unit control-label"
																ng-bind="customerBean.storeCredit"></span>
														</div>
													</div>
													<hr class="vd-hr">


													<div class="form-group">
														<label for="inputEmail3" class="col-sm-4 control-label">Total
															spent</label>
														<div class="col-sm-6">
															<span class="unit control-label"
																ng-bind="customerBean.totalSpent"></span>
														</div>
													</div>
												</div>
											</form>

										</div>
										<div class="col-md-2">
											<div class="box-header with-border"></div>
											<div class="box-body">
												<img src="resources/images/User.png"
													class="img-responsive img-rounded" alt="Cinque Terre"
													style="width: 204px; height: auto;">
											</div>
										</div>
										<div class="col-md-1"></div>
									</div>
								</div>

							</div>
							<!-- /.box -->
						</div>

						<vd-section sticky="" type="secondary"
							class="cv-action-bar vd-section vd-section--secondary"
							role="region">
						<div class="vd-section-wrap">
							<div
								class="vd-flex vd-flex--forced-row vd-flex--row vd-flex--justify-between vd-flex--align-center  ng-scope">

								<h2>Sales History</h2>

							</div>
						</div>
						</vd-section>
						<div class="box box-primary newFont">
                <div class="box-header">
               
				 </div><!-- /.box-header -->
				 
							<div class="box-body">
								<table id="example" class="display" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th></th>
											<th>ID</th>
											<th>Date</th>
											<th>Receipt</th>
											<th>Sold by</th>
											<th>Customer</th>
											<th>Note</th>
											<th>Sale Total</th>
											<th>Status</th>
											<th></th>
											
										</tr>
									</thead>

								</table>
							</div>
							<div class="top-buffer-contact"> </div>
                 
                         </div>
                         <vd-section sticky="" type="secondary"
							class="cv-action-bar vd-section vd-section--secondary"
							role="region">
						<div class="vd-section-wrap">
							<div
								class="vd-flex vd-flex--forced-row vd-flex--row vd-flex--justify-between vd-flex--align-center  ng-scope">

								<h2>Payment History</h2>
								<div class="vd-button-group">
									<button class="btn btn-success btn-lg" ng-show="customerPaymentsBeans.length==0"
										ng-click="loadPaymentHistory()">Load Payment History</button>

								</div>

							</div>
						</div>
						</vd-section>
						<div class="box">

							<!-- /.box-header -->
							<div class="box-body no-padding">
								<div class="box box-primary">
									<div class="row">
										<div class="col-md-12">

											<div class="box-header with-border"></div>
											<!-- /.box-header -->
											<!-- form start -->
											<div class="box-body">
												<table id="myTable" class="display" cellspacing="0"
													width="100%" ng-clock>
													<thead>
														<tr>
															<th>Date</th>
															<th>User</th>
															<th ng-hide="true">Register</th>
															<th>Receipt</th>
															<th>Note</th>
															<th ng-hide="true">Status</th>
															<th>Total</th>
														</tr>
													</thead>
													<tbody>
														<tr
															ng-repeat="payment in customerPaymentsBeans">
															<td ng-bind="payment.date"></td>
															<td ng-bind="payment.user"></td>
															<td ng-bind="payment.register" ng-hide="true"></td>
															<td ng-bind="payment.receipt"></td>
															<td ng-bind="payment.note"></td>
															<td ng-bind="payment.status" ng-hide="true"></td>
															<td ng-bind="payment.total"></td>

														</tr>
													</tbody>
												</table>

											</div>

										</div>


									</div>
								</div>
							</div>





						</div>

					</div>
					<div class="col-md-1"></div>
				</div>
			</section>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>

</div>

<div class="container">
	<div class="row footer-row">
		<div class="col-lg-12 text-center">
			<div class="footerdiv navbar-fixed-bottom">&copy; copyrights
				ShopVitals 2021</div>
		</div>
	</div>
</div>
<script src="resources/js/jquery.dataTables.min.js"></script>

<script src="resources/js/dataTables.responsive.min.js"></script>
<script src="resources/js/dataTables.buttons.min.js"></script>

<script>
 function format ( d ) {
	    // `d` is the original data object for the row
	    var rows="";
	    var cashRows = "";
	 	 if(d.receipts.length >= 1){
	    	 for (i = 0; i < d.receipts.length; i++) { 
	  		  	
	  		  		cashRows = cashRows + '<hr class="vd-hr">'
	 	    		+'<div class="row">'
	 	    	    +'<div class="col-md-6"></div>'
	 	    	    +'<div class="col-md-2">Cash :    '+d.receipts[i].receiptAmount+'</div>'
	 	    		+'<div class="col-md-2">'+d.receipts[i].receiptDate+'</div>'
	 	    		;
	 	    	if(i != d.products.length){
	  				rows = rows +'<hr class="vd-hr">';
	  			}
	  			
	  		 }
	    }else if(d.status!="LayBy"){
	    	
	    	 if(d.cashReturn==="0.00"){
	 	        cashRows = '<hr class="vd-hr">'
	 	    		+'<div class="row">'
	 	    	    +'<div class="col-md-6"></div>'
	 	    	    +'<div class="col-md-2">Cash :    '+d.cashGivenDate+'</div>'
	 	    		+'<div class="col-md-2">'+d.cashGiven+'</div>'
	 	    		;
	 	    	
	 	    }else{
	 	    	 cashRows = '<hr class="vd-hr">'
	 		    		+'<div class="row">'
	 		    	    +'<div class="col-md-6"></div>'
	 		    	    +'<div class="col-md-2">Cash :    '+d.cashGivenDate+'</div>'
	 		    		+'<div class="col-md-2">'+d.cashGiven+'</div>'
	 		    		+'</div>'
	 		    		+'<div class="row">'
	 		    	    +'<div class="col-md-6"></div>'
	 		    		+'<div class="col-md-2">Cash  :  '+d.cashReturnDate+'</div>'
	 		    		+'<div class="col-md-2">'+d.cashReturn+'</div>'
	 		    		+'</div>';
	 	    	
	 	    }
	    	
	    }
	  
	   
	    for (i = 0; i < d.products.length; i++) { 
		  	rows = rows +'<div class="row">'
		  	
		  	+'<div class="col-md-1"></div>'
		  	+'<div class="col-md-1">'+d.products[i].quantity+'</div>'
			+'<div class="col-md-4">'+d.products[i].productName+' <div class="row"> Was:'+d.products[i].itemRetailPrice +' Disc: '+ d.products[i].itemDiscountPrct +'% : '+ d.products[i].itemRetailPrice *(d.products[i].itemDiscountPrct/100) +'  </div>  </div>'
			+'<div class="col-md-2">'+d.products[i].pricewithoutTax+'</div>'
			+'<div class="col-md-2">'+d.products[i].pricewithTax+'</div>'
			+'<div class="col-md-2"></div>'
			+'</div>';
			if(i != d.products.length){
				rows = rows +'<hr class="vd-hr">';
			}
			
		 }
	   
	 
		    return rows
		    +'<div class="row">'
		    +'<div class="col-md-6"></div>'
			+'<div class="col-md-2">Sub Total</div>'
			+'<div class="col-md-2">'+d.subtotal+'</div>'
			+'</div>'
			+'<div class="row">'
		    +'<div class="col-md-6"></div>'
			+'<div class="col-md-2">Discount</div>'
			+'<div class="col-md-2">'+d.discount+'</div>'
			+'</div>'
			+'<div class="row">'
		    +'<div class="col-md-6"></div>'
			+'<div class="col-md-2">Total tax (No Tax)</div>'
			+'<div class="col-md-2">'+d.totalTax+'</div>'
			+'</div>'
			+'<hr class="vd-hr">'
			//asif-----------
			+'<div class="row">'
			+'<div class="col-md-6"></div>'
			+'<div class="col-md-2"><b>Previous Balance</b></div>'
			+'<div class="col-md-2"><b>'+d.laybayamount+'</b></div>'
			+'</div>'
			+'<hr class="vd-hr">'
			+'<div class="row">'
		    +'<div class="col-md-6"></div>'
			+'<div class="col-md-2"><b>Total</b></div>'
			+'<div class="col-md-2"><b>'+d.total+'</b></div>'
			+'</div>'+
			cashRows
			
			+'<hr class="vd-hr">'
			+'<div class="row">'
		    +'<div class="col-md-6"></div>'
			+'<div class="col-md-2"><b>Balance</b></div>'
			+'<div class="col-md-1"><b>'+d.balance+'</b></div>'
			+'</div>';
	}
	 
	$(document).ready(function() {
		var sessionId = Cookies.get('_s_tk_com',{ path: '/app' });
		var sales = JSON.parse(localStorage.getItem('salesHistory'));
		var table = $('#example').DataTable( {
	       // "ajax": "../app/resources/files/objects.txt"
	       // 	"ajax": {
	       // 	    "url": "/app/salesHistory/getData/"+sessionId,
	       // 	    "type": "GET"
	       //	  }
	       "data":sales.data,
	        "columns": [
	            {
	                "className":      'details-control',
	                "orderable":      true,
	                "data":           null,
	                "defaultContent": ''
	            },
	            { "data": "invoiceId" },
	            { "data": "date" },
	            { "data": "receipt" },
	            { "data": "soldby" },
	            { "data": "customerName" },
	            { "data": "note" },
	            { "data": "saleTotal" },
	            { "data": "status" },
	            { "data": "html" }
	            
	        ],
	        "order": [[1, 'desc']],
	  	    "initComplete": function(settings, json) {
	  	             Cookies.set('salesHostoryLoaded', true,{ path: '/app' });
	  	          },
	  	   "fnDrawCallback": function( oSettings ) {
	  	        Cookies.set('salesHostoryLoaded', true,{ path: '/app' });
	  	        }
	  	   
	    } );
	     
	    // Add event listener for opening and closing details
	    $('#example tbody').on('click', 'td.details-control', function () {
	        var tr = $(this).closest('tr');
	        var row = table.row( tr );
	 
	        if ( row.child.isShown() ) {
	            // This row is already open - close it
	            row.child.hide();
	            tr.removeClass('shown');
	        }
	        else {
	            // Open this row
	            row.child( format(row.data()) ).show();
	            tr.addClass('shown');
	          
	         }
	    } );
	} );
    </script>
<style>
 .user-block {
    white-space: nowrap;
}

@media (min-width: 768px)
.user-block {
    width: inherit;
}
.avatar {
    display: inline-block;
    position: relative;
}
 .user-block .user-info {
    display: inline-block;
    width: 55%;
    vertical-align: middle;
    margin-left: 10px;
}
.user-block img {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
}

td.details-control {
    background: url('../app/resources/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../app/resources/images/details_close.png') no-repeat center center;
}
</style>
<!-- <script>
	$(function() {
		//  document.body.style.overflow = 'hidden';

		setTimeout(function() {
			$('#myTable').DataTable({
				responsive : true
			});
			$('#myTable1').DataTable({
				responsive : true
			});
		}, 1);

	});
</script> -->