<div class="content-wrapper">
  <section class="content-header">
          <h1>
          Roles
          </h1>
          <ol class="breadcrumb">
            <li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#users">Users</a></li>
            <li class="active">Roles</li>
          </ol>
        </section>
	     <section class="content-header">
   
    </section>
 
	 <div class="top-buffer-contact"> </div>
	 <div id="mydiv" ng-show="globalPageLoader" ng-cloak>
		<div class="loader"></div>
	</div>
			<!-- Main content -->
			<section class="content" ng-show="!globalPageLoader" ng-cloak>
  			 <div class="row">
	  <div class="col-md-1">
	   </div>
	   <div class="col-md-10">
	   <vd-tabs modifier="no-border large" class="ng-scope ng-isolate-scope vd-tabs vd-tabs--no-border vd-tabs--large">
			 <vd-tab  class="po-users-tab ng-scope ng-isolate-scope vd-tab" type="anchor" active="this.activeTab == 'roles'" link="'#users'">
				<a  class="vd-tab-button ng-scope" ng-href="#users" href="/users/roles"><span class="ng-scope">
			      Users
			    </span></a>
			</vd-tab>
			   <vd-tab type="anchor" active="this.activeTab == 'users'" class="po-users-tab ng-scope ng-isolate-scope vd-tab vd-tab--active" link="'#roles'">
			<a  class="vd-tab-button ng-scope" ng-href="#roles"  href="/users/"><span class="ng-scope">
			      Roles
			    </span></a>
			</vd-tab>
			  </vd-tabs>
	 <vd-section sticky="" type="secondary"
						class="cv-action-bar vd-section vd-section--secondary"
						role="region">
					<div class="vd-section-wrap">
						<div
							class="vd-flex vd-flex--forced-row vd-flex--row vd-flex--justify-between vd-flex--align-center  ng-scope">
							  
              
							<span>    Manage what each role can see and do.
							</span>
							<div class="vd-button-group">
							     
							</div>
						</div>
					</div>
					</vd-section>
	    	
	    <div class="box newFont">
	    
                <div class="box-header">
               
               
                </div><!-- /.box-header --> 
                <div class="box-body no-padding">
                  <table id="myTable" class="table table-condensed">
                   <thead >
	                    <tr >
	                      <th>Name</th>
	                     <th>Last Saved</th>
	                    </tr>
                     </thead>
                   <tbody>
	                    <tr ng-repeat="role in rolesList">
	                      <td ><a href="" ng-click="roleDetails(role.roleId)" ng-bind="role.description"></a></td>
	                       <td ng-bind="role.lastUpdated"></td>
	                    </tr>
	                     
				    </tbody>
                        </table>
                </div><!-- /.box-body -->
                 </div><!-- /.box -->
                 <div class="top-buffer-contact"> </div>
                 
                         </div>
               <div class="col-md-2">
	   </div>
	</div>
	</section>
	</div>
	 <div class="container">
		<div class="row footer-row">
			<div class="col-lg-12 text-center">
				<div class="footerdiv navbar-fixed-bottom">&copy; copyrights ShopVitals 2021</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	
	
	<!-- Modal end -->

	  <script src="resources/js/jquery.dataTables.min.js"></script>
    
     <script src="resources/js/dataTables.responsive.min.js"></script>
     <script src="resources/js/dataTables.buttons.min.js"></script>
     
  

        <style>
table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}
    </style>