<div class="container">
	<div class="row">
	  <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
          SMS Details
          </h1>
          <ol class="breadcrumb">
            <li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
            <!-- <li><a href="#empView">Managed Services</a></li> -->
            <li class="active">SMS Details</li>
          </ol>
        </section>
	     <section class="content-header">
   
    </section>
		 <div class="top-buffer-contact"> </div>
	 <div id="mydiv" ng-show="globalPageLoader" ng-cloak>
		<div class="loader"></div>
	</div>
			<!-- Main content -->
			<section class="content" ng-show="!globalPageLoader" ng-cloak>
  			 <div class="row">
	  <div class="col-md-1">
	   </div>
	   <div class="col-md-10">
	   
	   <!-- <vd-tabs modifier="no-border large" class="ng-scope ng-isolate-scope vd-tabs vd-tabs--no-border vd-tabs--large">
			 
			<vd-tab type="anchor" active="this.activeTab == 'users'" class="po-users-tab ng-scope ng-isolate-scope vd-tab vd-tab--active" link="'#roles'">
			<a  class="vd-tab-button ng-scope" ng-href="#roles"  href="/users/"><span class="ng-scope">
			      Active({{productsList.length}})
			    </span></a>
			</vd-tab>
			<vd-tab  class="po-users-tab ng-scope ng-isolate-scope vd-tab" type="anchor" active="this.activeTab == 'roles'" link="'#users'">
				<a  class="vd-tab-button ng-scope" ng-href="#users" href="/users/roles"><span class="ng-scope">
			      Inactive(0)
			    </span></a>
			</vd-tab>
			<vd-tab  class="po-users-tab ng-scope ng-isolate-scope vd-tab" type="anchor" active="this.activeTab == 'roles'" link="'#users'">
				<a  class="vd-tab-button ng-scope" ng-href="#users" href="/users/roles"><span class="ng-scope">
			      All({{productsList.length}})
			    </span></a>
			</vd-tab>
			  </vd-tabs> -->
			   <vd-section sticky="" type="secondary"
						class="cv-action-bar vd-section vd-section--secondary"
						role="region">
					<div class="vd-section-wrap">
						<div
							class="vd-flex vd-flex--forced-row vd-flex--row vd-flex--justify-between vd-flex--align-center  ng-scope">
							  
              
							<span>   View your all SMS sent in one place.
							</span>
							<!-- <div class="vd-button-group">
							 <button class="btn  btn-success btn-lg" ng-click="addProduct()" ng-show="roledId=='1'">Add Product</button>
                                
							</div> -->
							
							<span>   SMS Used : {{smsUsedCount}}
							</span>
							<span>   SMS Remained : {{smsRemained}}
							</span>
						</div>
					</div>
					</vd-section>

	    	
	    			<div class="box box-primary newFont">
                <div class="box-header">
               
				 </div><!-- /.box-header -->
				<div class="box-body">
				<table id="myTable"  class="display" cellspacing="0" width="100%" ng-show="productsList.length > 0"  ng-clock>
				    <thead >
										<tr>
											<th >Customer Name</th>
											<th>Sender Name</th>
											<th>Outlet Name</th>
											<th>Delivery Status</th>
											<th >SMS Sent Date</th>
											<th >Message</th>
											

										</tr>
									</thead>
				    <tbody>
				          <tr ng-repeat="product in productsList">
						
				         <td ng-bind="product.customerName" ></td>
				           <td ng-bind="product.senderName"></td>
				           <td ng-bind="product.outletName"><a href=""></a></td>
				           <td ng-bind="product.deliveryId" ></td>
				           <td ng-bind="product.smsSentDate" ></td>
				           <td ng-bind="product.messageDescription" ></td>
				           
				           
				        </tr>
				    </tbody>
				</table>
				</div>
			</div>
                 <div class="top-buffer-contact"> </div>
                         </div>
               <div class="col-md-2">
	   </div>
	</div>
	</section>
			</div>
		<!--  </div>-->
	</div>
</div>

 <div class="container">
		<div class="row footer-row">
			<div class="col-lg-12 text-center">
				<div class="footerdiv navbar-fixed-bottom">&copy; copyrights ShopVitals
					2019</div>
			</div>
		</div>
	</div>
    <style>
.center {
    margin-top:50px;   
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
        padding: 0;
}
    
.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
}
    
.modal-footer .btn-group:last-child > button {
    border-right: 0;
}
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    width: 65%;
    margin-left: 25%;
}
</style>
    <!-- DataTables -->
     <script src="resources/js/jquery.dataTables.min.js"></script>
    
     <script src="resources/js/dataTables.responsive.min.js"></script>
     <script src="resources/js/dataTables.buttons.min.js"></script>
     
 
<script src="resources/js/buttons.flash.min.js"></script>
<script src="resources/js/jszip.min.js"></script>
<script src="resources/js/pdfmake.min.js"></script>

<script src="resources/js/vfs_fonts.js"></script>
<script src="resources/js/buttons.html5.min.js"></script>
<script src="resources/js/buttons.print.min.js"></script> 
       
   
   
 <script>
 setTimeout(
			  function() 
			  {
				$('#myTable').DataTable(
					{
						responsive : true,
						dom : 'Bfrtip',
						caption : "Mike Smith",
						buttons : {
							buttons : [
									{
										extend : 'print',
										text : '<i class="fa fa-print"></i> Print',
										title : $('h1').text(),
										key : {
											key : 'p',
											altkey : true
										},
										exportOptions : {
											columns : ':not(.no-print)'
										},
										footer : true,
										autoPrint : false
									},
									{
										extend : 'excel',
										text : '<i class="fa fa-book"></i> Excel',
										title : $('h1').text(),
										key : {
											key : 'p',
											altkey : true
										},
										exportOptions : {
											columns : ':not(.no-print)'
										},
										footer : true,
										autoPrint : false
									},
									{
										extend : 'pdf',
										text : '<i class="fa fa-file-pdf-o"></i> PDF',
										title : $('h1').text(),
										exportOptions : {
											columns : ':not(.no-print)'
										},
										footer : true
									} ],
							dom : {
								container : {
									className : 'dt-buttons'
								},
								button : {
									className : 'btn btn-default'
								}
							}
						}
					});
				 
			  }, 10);
    </script>
<style>
 .user-block {
    white-space: nowrap;
}

@media (min-width: 768px)
.user-block {
    width: inherit;
}
.avatar {
    display: inline-block;
    position: relative;
}
 .user-block .user-info {
    display: inline-block;
    width: 55%;
    vertical-align: middle;
    margin-left: 10px;
}
.user-block img {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
}


</style>