<div class="container">
	<div class="content-wrapper">
		<section class="content-header">
			<h1>Edit Purchase Order</h1>
			<ol class="breadcrumb">
				<li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
				 <li><a href="#stockControl">Stock Control</a></li> 
				<li><a href="#purchaseOrder">Purchase Order</a></li>
				<li class="active">Edit Stock Order Details</li>
			</ol>
		</section>
		<section class="content-header"></section>
		<div id="mydiv" ng-show="globalPageLoader" ng-cloak>
			<div class="loader"></div>
		</div>

		<section class="content" ng-show="!globalPageLoader" ng-cloak>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
			
					<div class="box">
						
						<!-- /.box-header -->
						<div class="box-body no-padding">
						<div class="alert alert-success alert-sm" ng-show="success"
								ng-bind="successMessage" ng-cloak></div>
							<div class="alert alert-danger alert-sm" ng-show="error"
								ng-bind="errorMessage" ng-cloak></div>
							<div class="box box-primary">
								<div class="row">
									<div class="col-md-1"></div>
									<div class="col-md-4">

										<div class="box-header with-border"></div>
										<!-- /.box-header -->
										<!-- form start -->
										<form class="form-horizontal">
											<div class="box-body">

												<div class="form-group">
													<label for="inputEmail3" class="col-sm-6 control-label">Order name</label>
													<div class="col-sm-6">
														<span class="unit control-label" ng-bind="stockOrderBean.stockRefNo"></span>
													</div>
												</div>
												<div class="form-group">
													<label for="inputEmail3" class="col-sm-6 control-label">Order from</label>
													<div class="col-sm-6">
														<span class="unit control-label" ng-bind="stockOrderBean.supplierName"></span>
													</div>
												</div>
												<div class="form-group">												
													<label for="inputEmail3" class="col-sm-6 control-label">Deliver to</label>
														<div class="col-sm-6">
														<span class="unit control-label" ng-bind="stockOrderBean.outletName"></span>
													</div>
												</div>
												

											</div>
											
										</form>

									</div>
									<div class="col-md-4">

										<div class="box-header with-border"></div>
										<!-- /.box-header -->
										<!-- form start -->
										<form class="form-horizontal">
											<div class="box-body">
												<div class="form-group">
													<label for="inputEmail3" class="col-sm-4 control-label"><b>Order No.</b></label>
													<div class="col-sm-8">
														<span class="unit control-label"  ng-bind="stockOrderBean.orderNo"></span>
													</div>
												</div>
												<div class="form-group">
													<label for="inputEmail3" class="col-sm-4 control-label">Delivery due</label>
													<div class="col-sm-8">
														<span class="unit control-label" ng-bind="stockOrderBean.diliveryDueDate"></span>
													</div>
												</div>
											
											</div>
										</form>

									</div>
									<div class="col-md-2">
										<div class="box-header with-border"></div>
										<div class="box-body">
											<img src="resources/images/order.png"
												class="img-responsive img-rounded" alt="Cinque Terre"
												style="width: 204px; height: auto;">
										</div>
									</div>
									<div class="col-md-1"></div>
								</div>
							</div>

						</div>
						<!-- /.box -->
					</div>
					
				<vd-section sticky="" type="secondary"
						class="cv-action-bar vd-section vd-section--secondary"
						role="region">
					<div class="vd-section-wrap">
						<div
							class="vd-flex vd-flex--forced-row vd-flex--row vd-flex--justify-between vd-flex--align-center  ng-scope">

							<div class="line search-toolbar">
											<div class="unit line size2of4">
												<div class="unit unit-product" >
													<label for="product_search[product_sku]">Product:</label> 
														<select class="form-control " data-native-menu="false"
															data-role="listview"
															data-ng-model="productVariantBean" ng-init="productVariantBean.productVariantBeanId = '1'">															
															<option ng-repeat="productVariantBean in productVariantBeansList"
															value="{{productVariantBean}}" >{{productVariantBean.variantAttributeName}}
																</option>
														</select>
												</div>
												<div class="unit unit-quantity">
													<label for="product_search[quantity]">Quantity:</label> <input
														type="text" data-ng-model="stockOrderDetailBean.orderProdQty" name="product_search[quantity]"
														ng-pattern='/^[0-9]+(\.[0-9]{1,2})?$/' autocomplete="off" class=" form-control click-to-select unit"
														id="product_search_quantity" ng-maxlength="9">
												</div>
												<div class="unit unit-quantity">
													<label for="product_search[quantity]"> Add</label> 
													<button class="btn btn-success btn click-to-select unit " ng-click="addProduct()" 
													ng-disabled = "!productVariantBean || !stockOrderDetailBean.orderProdQty">Add Product</button>
											
												</div>
												
											</div>
										
											
										</div>
											
						</div>
						
					</div>

					</vd-section>
					<div class="box">
						
						<!-- /.box-header -->
						<div class="box-body no-padding">
							<div class="box box-primary">
								<div class="row">
									<div class="col-md-12">
</br>
</br>
										<div class="box-header with-border"></div>
										<!-- /.box-header -->
										<!-- form start -->
										<div class="box-body">
											<table id="myTable" class="display" cellspacing="0"
												width="100%" ng-clock>
												<thead>
													<tr>
														<th>Order</th>
														<th>Product</th>
														<th>Stock on Hand</th>
														<th>Quantity</th>
														<th>Supply Price</th>
														<th>Total</th>
														
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="stockOrderDetailBean in stockOrderDetailBeansList">

														<td ng-bind="stockOrderDetailBean.order"></td>
														<td ng-bind="stockOrderDetailBean.variantAttributeName"></td>
														<td ng-bind="stockOrderDetailBean.productVariantCurrInventory"></td>
														<td ><input type="text" data-ng-model="stockOrderDetailBean.orderProdQty" min="1" class=""
															id="Name"  ng-maxlength="9"
															ng-pattern='/^[0-9]+(\.[0-9]{1,2})?$/' ng-blur = "calculateTotal(stockOrderDetailBean.productVariantId)" required></td>
														<td ng-bind="stockOrderDetailBean.ordrSupplyPrice"></td>
														<td ng-bind="stockOrderDetailBean.total"></td>
														<td ><button class="btn btn-danger btn" ng-click="showConfirmDelete(stockOrderDetailBean)" ><i class="fa fa-trash"></i></button></td>
													
													</tr>
												</tbody>
											</table>

										</div>
					<div class="box-footer text-right">
								<button class="btn btn-primary btn  "
									ng-click="updateStockOrderDetail()" ng-disabled="!checkStockOrderDetailList()" ng-show="!loading">Update</button>
								<button  ng-show="loading" class="btn btn-primary btn">
							    	Processing<i class="fa fa-arrow-right text-muted fa-spinner fa-spin " ></i>
				       	    </button>
								<a href="#stockControl"><button class="btn btn-default btn-sm pull-right btn-primary-spacing">Cancel</button></a>

							</div>
									</div>


								</div>
							</div>
						</div>





					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
	</div>
	</section>
	<div class="col-md-1"></div>
</div>
 <div class="container">
		<div class="row footer-row">
			<div class="col-lg-12 text-center">
				<div class="footerdiv navbar-fixed-bottom">&copy; copyrights ShopVitals 2019</div>
			</div>
		</div>
	</div>

<!-- Modal -->
	<modal title="Delete Selected Product" visible="showConfirmDeletePopup" ng-cloak>
	
	<div class="registerForm popup-transparent">
		<li class="list-group-item">
			<form class="form-horizontal" name="myForm">
				<div class="box-body">
					
					<button
					class="btn btn-primary btn-sm pull-right btn-primary-spacing"
					ng-click="delStockOrderDetail(stockOrderDetailBean)">Yes</button>
				
				<button
					class="btn btn-default btn-sm pull-left btn-primary-spacing"
					data-dismiss="modal">No</button>
					</div>					
				</div>
			</form>
		</li>
	</div>

	</modal>

	<!-- Modal end -->	
	
	
    <style>
.center {
    margin-top:50px;   
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
        padding: 0;
}
    
.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
}
    
.modal-footer .btn-group:last-child > button {
    border-right: 0;
}
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    width: 65%;
    margin-left: 25%;
}
</style>

<script src="resources/js/jquery.dataTables.min.js"></script>

<script src="resources/js/dataTables.responsive.min.js"></script>
<script src="resources/js/dataTables.buttons.min.js"></script>


<!-- <script>
	$(function() {
		//  document.body.style.overflow = 'hidden';

		setTimeout(function() {
			$('#myTable').DataTable({
				responsive : true
			});
			$('#myTable1').DataTable({
				responsive : true
			});
		}, 1);

	});
</script> -->