<!doctype html>
<html lang="en" ng-app="AngularSpringApp">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>Choose the World's Best Retail POS Software | Shopvitals POS Systems</title>
<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="resources/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="resources/css/icomoon-fonts.css">
<link rel="stylesheet" type="text/css" href="resources/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="resources/css/settings.css">
<link rel="stylesheet" type="text/css" href="resources/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="resources/css/jquery.fancybox.css">
<link rel="stylesheet" type="text/css" href="resources/css/zerogrid.css">
<link rel="stylesheet" type="text/css" href="resources/css/jPushMenu.css">
<link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400%7COpen+Sans:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="resources/css/onepage.css">
<link rel="stylesheet" type="text/css" href="resources/css/one-color.css">

<link rel="stylesheet" type="text/css" href="resources/css/loader.css">


<link rel="shortcut icon"
	href="resources/images/favicon.ico?v=2"
	type="image/x-icon">
<link rel="icon"
	href="resources/images/favicon.ico?v=2"
	type="image/x-icon">
<link rel="canonical" href="https://www.shopvitals.com/" />
<script src="resources/js/jquery-2.1.4.js"></script> 
<script src="resources/js/bootstrap.min.js"></script>

<meta name="title" content="Choose the World's Best Retail POS Software | Vend Shopvitals Systems">
<meta name="description" content="Easily manage and scale your business with retail point of sale systems from Shopvitals. A retail POS system including debit/credit card readers and inventory management."> 
<script async
src="https://www.googletagmanager.com/gtag/js?id=UA-122495182-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122495182-1');
</script>

</head>

<body id="page-top" data-spy="scroll" data-target="#fixed-collapse-navbar" data-offset="120">

<div class="loader">
<div class="spinner">
  <div class="dot1"></div>
  <div class="dot2"></div>

</div>
</div>




<!-- Main-Navigation -->
 <header id="main-navigation">
  <div id="navigation" data-spy="affix" data-offset-top="20">
    <div class="container">
      <div class="row">
      <div class="col-md-12">
      <ul class="top-right text-right" >
           	<li><a target="_blank" href="https://www.facebook.com/ShopVitals-1100195213488157" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/ShopVitals" class="twitter"><i class="fa fa-twitter"></i></a></li>
           <li><a target="_blank" href="https://www.linkedin.com/company/shopvitals/" class="instagram"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          
        <nav class="navbar navbar-default">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixed-collapse-navbar" aria-expanded="true"> 
            <span class="icon-bar top-bar"></span> <span class="icon-bar middle-bar"></span> <span class="icon-bar bottom-bar"></span> 
            </button>
           <a class="navbar-brand logo" href="#."><img src="resources/images/logo-white.png" alt="logo" class="img-responsive"></a> 
         </div>
        
          
        
            <div id="fixed-collapse-navbar" class="navbar-collapse collapse navbar-right">
              <ul class="nav navbar-nav">
                <li class="hidden">
                   <a class="page-scroll" href="#page-top"></a>
                </li>
                <li class="active">
                  <a href="#main-slider" class="page-scroll">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                 <li>
                    <a class="page-scroll" href="#features">Features</a>
                </li>
                 <li>
                  <a href="#solutions" class="page-scroll">Solutions</a>
                </li>
                <li ng-hide="true">
                  <a href="#publication" class="page-scroll">Blog</a>
                </li>
               
                
                <li>
                  <a href="#partners" class="page-scroll">Partners</a>
                </li>
                <li>
                  <a href="#contact" class="page-scroll">Contact Us</a>
                </li>
              </ul>
            </div>
         </nav>
       </div>
       </div>
     </div>
  </div>
</header>  







<div ng-view class=""></div>

<section id="main-slider">
  
  <div class="tp-banner-container">
    <div class="fullscreenbanner tp-banner">      
      <ul>	<!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="6" data-delay="5000">
        <!-- MAIN IMAGE -->
       	 <img  src="resources/images/main-banner1.jpg" alt="banner1" data-bgfit="cover" data-bgposition="center center">
        
           <!-- LAYER NR. 1 -->
           <h3 class="tp-caption sft tp-resizeme"
           data-x="left"
           data-y="180" 
           data-speed="500"
           data-start="1000"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           style="z-index: 5;">Online Shopping
           </h3>
        <!-- LAYER NR. 2 -->
           <h2 class="tp-caption sft tp-resizeme text-center"
           data-x="left"
           data-y="230" 
           data-speed="500"
           data-start="1500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.05"
           data-endelementdelay="0.1"
           style="z-index: 9;">
           Virtual Outlets
           </h2>
            <!-- LAYER NR. 3 --> 
           <h2 class="tp-caption sft tp-resizeme"
           data-x="left"
           data-y="300" 
           data-speed="500"
           data-start="2000"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           style="z-index: 5;">IT Solution As Business Accelerator
           </h2>
           
           
        <!-- LAYER NR. 4 -->
           <div class="tp-caption sft tp-resizeme"
           data-x="center"
           data-y="490" 
           data-speed="500"
           data-start="2500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           data-linktoslide="next"
           style="z-index: 12;">
            <a href="#solutions" class="btn-common btn-green bounce-white page-scroll">Read More</a>
           <a href=""  class="btn-common btn-blue bounce-white" ng-click="showCotactUsPopup()">Start Demo</a>
           </div>
        
        </li>
        <!-- SLIDE  -->
        <li data-transition="slideleft" data-slotamount="7" data-delay="7000">
        <!-- MAIN IMAGE -->
        	<img src="resources/images/main-banner2.jpg"  alt="laptopmockup_sliderdy" data-bgfit="cover" data-bgposition="center center">
          
           <p class="tp-caption sft tp-resizeme"
           data-x="right"
           data-y="130" 
           data-speed="500"
           data-start="1000"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           style="z-index: 5;">
           Technology now incorporate; 
           </p>
        <!-- LAYER NR. 2 -->
           <h2 class="tp-caption fade tp-resizeme text-right"
           data-x="right"
           data-y="160" 
           data-speed="500"
           data-start="1500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.05"
           data-endelementdelay="0.1"
           style="z-index: 9;">
           Crafting World's Finest 
           <br /> Online Retail Experiences
           </h2>
            <!-- LAYER NR. 3 --> 
           <p class="tp-caption sft tp-resizeme"
           data-x="right"
           data-y="310" 
           data-speed="500"
           data-start="2000"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           style="z-index: 5;">
           Retail digital solution
           </p>
           <div class="tp-caption fade tp-resizeme"
           data-x="right"
           data-y="420" 
           data-speed="500"
           data-start="2800"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           data-linktoslide="next"
           style="z-index: 12;">
           <a href="#solutions" class="btn-common btn-green bounce-white page-scroll">Read More</a>
           <a href=""  class="btn-common btn-blue bounce-white" ng-click="showCotactUsPopup()">Start Demo</a>
           </div>
        
        </li>
      <!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="6" data-delay="5000">
        <!-- MAIN IMAGE -->
       	 <img  src="resources/images/main-banner3.jpg" alt="banner3" data-bgposition="center top" >
        
           <!-- LAYER NR. 1 -->
           <h2 class="tp-caption sft tp-resizeme"
           data-x="left"
           data-y="130" 
           data-speed="500"
           data-start="1000"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           style="z-index: 5;">We accelerate your E-COMMERCE channel
           </h2>
        <!-- LAYER NR. 2 -->
           <h1 class="tp-caption fade tp-resizeme text-left"
           data-x="left"
           data-y="200" 
           data-speed="500"
           data-start="1500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.05"
           data-endelementdelay="0.1"
           style="z-index: 9;">Fully Managed E-COMMERCE Services
           </h1>
            <!-- LAYER NR. 3 --> 
           <p class="tp-caption sft tp-resizeme"
           data-x="left"
           data-y="310" 
           data-speed="500"
           data-start="2000"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           style="z-index: 5;">
           </p>
        <!-- LAYER NR. 3 -->
           <div class="tp-caption sft tp-resizeme"
           data-x="left"
           data-y="420" 
           data-speed="500"
           data-start="2800"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           data-linktoslide="next"
           style="z-index: 12;">
           <a href="#solutions" class="btn-common btn-green bounce-white page-scroll">Read More</a>
           <a href=""  class="btn-common btn-blue bounce-white" ng-click="showCotactUsPopup()">Start Demo</a>
           </div>
        </li>
      <!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="6" data-delay="5000">
        <!-- MAIN IMAGE -->
       	 <img  src="resources/images/banner4.jpg" alt="banner4" data-bgposition="center top" >
        
           <p class="tp-caption sft tp-resizeme"
           data-x="right"
           data-y="130" 
           data-speed="500"
           data-start="1000"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           style="z-index: 5;">
          Journey towards digitalization
           </p>
        <!-- LAYER NR. 2 -->
           <h2 class="tp-caption fade tp-resizeme text-right"
           data-x="right"
           data-y="160" 
           data-speed="500"
           data-start="1500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.05"
           data-endelementdelay="0.1"
           style="z-index: 9;">
           ShopVitals
           <br /> 
           </h2>
           <h2 class="tp-caption fade tp-resizeme text-right"
           data-x="right"
           data-y="235" 
           data-speed="500"
           data-start="1500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.05"
           data-endelementdelay="0.1"
           style="z-index: 9;">
           Process of transformation
           <br /> 
           </h2>
            <!-- LAYER NR. 3 --> 
           <p class="tp-caption sft tp-resizeme"
           data-x="right"
           data-y="310" 
           data-speed="500"
           data-start="2000"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           style="z-index: 5;">
         Everything you need to run your retail business
           </p>
           <div class="tp-caption fade tp-resizeme"
           data-x="right"
           data-y="420" 
           data-speed="500"
           data-start="2800"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           data-linktoslide="next"
           style="z-index: 12;">
           <a href="#solutions" class="btn-common btn-green bounce-white page-scroll">Read More</a>
           <a href=""  class="btn-common btn-blue bounce-white" ng-click="showCotactUsPopup()">Start Demo</a>
           </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section id="about" class="top-padding">
  <div class="container-fluid">
    <div class="row responsive-pic">
      <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="600ms"> 
      	<img src="resources/images/full-responsive.png" alt="fully_responsive" class="img-responsive"> 
      </div>
      <div class="container wow fadeInRight" data-wow-duration="500ms" data-wow-delay="900ms">
        <div class="row">
          <div class="col-md-6 col-sm-6 r-test">
            <h3 class="magin30">ShopVitals experience</h3>
            <p>There is a need of an art and science for keeping retail business intact. The ShopVitals being cloud-based software is accessible 24/7 and everywhere. It is a ecommerece management platform that integrates utilities such as online store, retail managment, courier services, Cost control, HR, Forecasting & reconcile Cash,  and beyond, in order to simplify the online and On-premises selling lifecycle in an intuitive way for businesses. ShopVitals gives you full visibility and greater control over your business. No matter what the size of your business, we have a plan designed specifically for you. Trusted by over large businesses around the world.</p>
            <h4>Features</h4>
            <br/>
            <ul class="r-feature">
              <li>online Store</li>
              <li>On-premises Selling</li>
              <li>Ship from Store</li>
              <li>Location Aware Mobile Commerce</li>
              <li>Reporting & Analytics</li>
              <li>Multi-Channel Loyalty Programs</li>
              <li>Reciept Cash Reconciliation</li>
              <li>Business Forecast</li>
            </ul>
            <div class="screens"> <i class="icon-laptop2"></i> <i class="icon-tablet2"></i> <i class="icon-icons202"></i> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Counter-->
<section id="facts" class="top-padding">
  <h3 class="hidden">hidden</h3>
  <div class="container-fluid">
    <div class="row number-counters"> 
      <!-- first count item -->
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
        <div class="counters-item green row">
        <i class="icon-smile"></i> 
        <h2><strong data-to="54">0</strong></h2>
          <p>Happy Customer</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
        <div class="counters-item dark_gray row"> 
        <i class="icon-map-pin"></i>
        <h2><strong data-to="203">0</strong></h2>
          <p>Outlets</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="900ms">
        
        <div class="counters-item blue row"> 
        <i class="icon-wallet"></i>
        <h2><strong data-to="305190">0</strong></h2>
          <p>Payments</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1200ms">
        <div class="counters-item green row"> 
        <i class="icon-cart"></i>
        <h2><strong data-to="21750">0</strong></h2>
          <p>Orders Delivered</p>
        </div>
      </div>
      <!-- end first count item --> 
    </div>
  </div>
</section>



<!--features-->
<section class="section-padding" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wow fadeIn" data-wow-duration="500ms" data-wow-delay="300ms">
        <p class="title">What The Platform Offers</p>
        <h2 class="heading">Platform Features</h2>
      </div>
      <div class="col-md-3 col-sm-3 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="900ms"> 
        <span class="text-center"><img src="resources/images/employees.png" alt="image_employees"/></span>
        <h4 class="color1">Click & Collect</h4>
        <p>Giving your customers the choice to collect their online order from nearby outlets, allow  up sell/cross sell</p>
      </div>
      <div class="col-md-3 col-sm-3 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms"> 
        <span class="text-center"><img src="resources/images/scaduale.png" alt="image_scaduale"/></span>
        <h4 class="color6">Shipping From Store</h4>
        <p>No need for separate inventories, helps to manage all order processing, synchronized inventory management.</p>
      </div>
      <div class="col-md-3 col-sm-3 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="500ms"> 
        <span class="text-center"><img src="resources/images/time.png" alt="image_time"/></span>
        <h4 class="color1">Loyalty Programs</h4>
        <p>Whether customers shop offline, online, collates their preferences and trends for customer retention & loyalty</p>
      </div>
      <div class="col-md-3 col-sm-3 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="700ms"> 
        <span class="text-center"><img src="resources/images/payroll.png" alt="image_payroll" /></span>
        <h4 class="color6">24/7 Online Store</h4>
        <p>Do you want your own online store? Then reconcile Cash on Delivery payments? Well, we now have a solution </p>
      </div>
      
      <div class="col-md-3 col-sm-3 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1100ms"> 
        <span class="text-center"><img src="resources/images/communication.png" alt="image_communication"/></span>
        <h4 class="color6">Communication</h4>
        <p>Customer's can communicate using corporate social media platform and various messaging features</p>
      </div>
      <div class="col-md-3 col-sm-3 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1200ms">
        <span class="text-center"><img src="resources/images/reporting.png" alt="image_reporting"/></span>
        <h4 class="color1">Reporting</h4>
        <p>Bunch of reports based on real-time data captured, help managers in decision making and forecasting</p>
      </div>
      <div class="col-md-3 col-sm-3 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1200ms">
        <span class="text-center"><img src="resources/images/forcast.png" alt="image_forcast"/></span>
        <h4 class="color6">Multi-Courier Integrations</h4>
        <p>Provides you with a master dashboard to help you track all orders, packages and their shipping status in real time</p>
      </div>
      <div class="col-md-3 col-sm-3 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1200ms">
        <span class="text-center"><img src="resources/images/notification.png" alt="image_notification"/></span>
        <h4 class="color1">Notifications</h4>
        <p>Notifications of all activities across application send to employees to keep them updated using mobile app</p>
      </div>
    </div>
  </div>
</section>



<!-- solutions -->
<div style="position:relative;">
<section id="solutions" class="section-padding padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="title">People Love Our Work</p>
        <h2 class="heading">our Solutions</h2>
        <div id="testinomial-slider" class="owl-carousel">
          <div class="item">
          	<div class="container-fluid">
            	<div class="row">
                	<div class="col-sm-5 col-sm-offset-1">
                    	<img src="resources/images/Online.png" alt="image_online" class="img-responsive" />
                    </div>
                	<div class="col-sm-5 text-left">
                    	<h2>Online Selling</h2>
                        <p>
                        With a central product catalog, you can choose what to sell in-store, online, or both. You'll never have to manage product info and photos on multiple systems again. We've built ShopVitals 
                        Ecommerce so you don't have to be a web expert to run an amazing online store.Start your online business within seconds. 
                        </p>
                       <!--   <a class="btn btn-primary">View Details</a>-->
                    </div>
                </div>
            </div>          
          </div>
          <div class="item">
          	<div class="container-fluid">
            	<div class="row">
                	<div class="col-sm-5 col-sm-offset-1">
                    	<img src="resources/images/Education.png" alt="image_education" class="img-responsive" />
                    </div>
                	<div class="col-sm-5 text-left">
                    	<h2>Design Your Store</h2>
                        <p>
                        You spent a lot of time developing and growing your brand, and your online store should reflect that. Our mobile-friendly, responsive themes will have you selling online in no time. Simply pick from one of our beautiful and highly customizable designs and you’re away.
                        </p>
                   </div>
                </div>
            </div>          
          </div>
          <div class="item">
          	<div class="container-fluid">
            	<div class="row">
                	<div class="col-sm-5 col-sm-offset-1">
                    	<img src="resources/images/EventsManagment.png" alt="image_eventmanagement" class="img-responsive" />
                    </div>
                	<div class="col-sm-5 text-left">
                    	<h2>Streamline your operations</h2>
                        <p>
                       Keep your finger on the pulse of your business by bringing all your sales, customer and inventory information together in one system. Combine your point of sale, ecommerce, and insights under one roof and save time and money.
                        </p>
                    </div>
                </div>
            </div>          
          </div>
          <div class="item">
          	<div class="container-fluid">
            	<div class="row">
                	<div class="col-sm-5 col-sm-offset-1">
                    	<img src="resources/images/Hotel-Managment.png" alt="image_hotelmanagement" class="img-responsive" />
                    </div>
                	<div class="col-sm-5 text-left">
                    	<h2>Give your customers the best shopping experience</h2>
                        <p>
                     Offer a consistent experience across your online, pop-up or flagship stores. Your customers can go from browsing to buying in an instant, wherever they are. Easily customize shipping rates or let shoppers pick up purchases in-store with Click & Collect.
                        </p>
                     </div>
                </div>
            </div>          
          </div>
          <div class="item">
          	<div class="container-fluid">
            	<div class="row">
                	<div class="col-sm-5 col-sm-offset-1">
                    	<img src="resources/images/POS.png" alt="image_pos" class="img-responsive" />
                    </div>
                	<div class="col-sm-5 text-left">
                    	<h2>Sell in-store on Mac or PC</h2>
                        <p>
                       ShopVitals is the web-based point of sale system that makes it simple to sell to your customers, and keep them coming back to your store. It works on Mac or PC, online and offline, and is so easy to use you can get your staff selling in no time. ShopVitals connects with the most popular point of sale equipment and hardware.
                        </p>
                    </div>
                </div>
            </div>          
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<!-- Latest Publications -->

<!-- Partners -->
<section id="partners" class="we-do bg-grey padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wow fadeIn"> 
        <p class="title">Who we work with</p>
        <h2 class="heading">Our Partners</h2>
      </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-1 col-sm-6 text-center wow fadeIn"> 
        <p class="title"><img src="resources/images/logo-ess.png" alt="image_logo_ess" class="partner_img" /></p>
        <a href="https://bestercapitalmedia.com" target="_blank"><h3 class="heading">Bester Capital Media</h3></a>   
        <p>Bester Capital Media (BCM) is one of the leading Digital Marketing, IT and Creative Advertising agency. Leading Solution provider for multi-national conglomerates, small and medium enterprises as well as personal businesses in UAE and across GCC.</p>
      </div>
      <div class="col-md-4 col-md-offset-2 col-sm-6 text-center wow fadeIn"> 
        <p class="title"><img src="resources/images/dowhile-logo.jpg" alt="image_dowhile" class="partner_img" /></p>
        <h3 class="heading">DoWhile Tech</h3>
        <p>Enterprise software design and development company that brings concepts to a digital medium. Equipped with social, mobile, BigData analytics, and cloud to grow startups, manage data for large enterprises, and build robust applications for cloud platforms.</p>
      </div>
    </div>
  </div>
  </div>
 </section>









<section id="slogan" class="wow fadeIn" data-wow-duration="500ms" data-wow-delay="300ms"> 
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="hidden">hiddens</h5>
        <p class="pull-left">Tell us more about your needs or request info to learn more about ShopVitals.</p>
        <a class="pull-right bounce-top" data-toggle="modal" data-target="#myModal2" href="#.">get in touch</a> </div>
    </div>
  </div>
</section>


<!-- Contact Us -->
<section class="info-section" id="contact">
  <div class="row">
    <div class="col-md-6 block text-center wow fadeInLeftBig" data-wow-duration="500ms" data-wow-delay="300ms">
      <div class="center">
        <p class="title">Open for you</p>
        <h2>We're here</h2>
       <!-- <p class="margen">We&prime;d love to hear from you.</p> --> 
        <h3>Finland</h3>
        <p><strong>Postal Adress:</strong> Visam&auml;entie 25, E49, 13100, H&auml;meenlinna, Finland</p>
        <p><strong>Phone:</strong> +358456113510</p>
         <h3>UAE</h3>
        <p><strong>Postal Adress:</strong> Office 109 - 110 Building 6, Gold & Diamond Park Emaar SZR DUBAI-UAE</p>
        <p><strong>Phone:</strong> +971 52 249 4274</p>
        <h3>Pakistan</h3>
        <p><strong>Postal Adress:</strong> 20 K , commercial area, Phase 1 , DHA, Lahore, Pakistan</p>
        <p><strong>Phone:</strong> +92-322-6000087</p>
        <p><strong>Email:</strong> <a href="#.">info@ShopVitals.com</a></p>
        <ul class="social-link" ng-hide="true">
          	<li><a target="_blank" href="https://www.facebook.com/ShopVitals-1763947463877390" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/ShopVitals" class="twitter"><i class="fa fa-twitter"></i></a></li>
         	<li><a href="#." class="text-center"><i class="fa fa-linkedin"></i><span></span></a></li>
          	<li><a href="#." class="text-center"><i class="fa fa-youtube"></i><span></span></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 block light text-center wow fadeInRightBig" data-wow-duration="500ms" data-wow-delay="300ms">
      <div class="center">
        <p class="title">With propositions</p>
        <h2>Contact Us</h2>
        <div class="alert alert-success alert-sm" ng-show="homeContactSuccess" ng-bind="homeContactSuccessMessage" ng-cloak>
				</div>
		<div class="alert alert-danger alert-sm" ng-show="homeContactError" ng-bind="homeContactErrorMessage" ng-cloak>
			</div>
        <form class="form-inline" id="contact-form" onSubmit="return false">
          <div class="row">
            <div class="col-md-12 center"><div id="result"></div> </div>
          </div>
          
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
              <input type="text" class="form-control" ng-model="contactUsBean.name"  placeholder="Your Name" name="name" id="name" maxlength="50" ng-pattern='/^[A-Za-z\s]+$/' required>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
              <input type="email" class="form-control" ng-model="contactUsBean.email"  placeholder="E-mail Address" name="email" id="email" required>
            </div>
            <div class="col-xs-12 col-md-12">
              <textarea placeholder="Message..." class="form-control" ng-model="contactUsBean.message" name="message" id="message"></textarea>
              <button type="submit" ng-show="!messageSend" class="btn-black btn-blue bounce-green" id="btn_submit" ng-click="contactUs()" ng-disabled="!contactUsBean.name||!contactUsBean.email"> Send Message </button>
              <button ng-show="messageSend" class="btn-black btn-blue bounce-green" ng-disabled="true" ng-cloak>Send Message Processing
                     		<i class="fa fa-arrow-right fa-spinner fa-spin "></i>
    											 </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>






<!-- Responsive image with left -->


<!-- Footer-->
<footer class=" wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms"> 

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="breadcrumb">
          <li><a href="#." class="page-scroll">Home</a></li>
          <li><a href="#about" class="page-scroll">About</a></li>
          <li><a href="#features" class="page-scroll">Features</a></li>
          <li><a href="#solutions" class="page-scroll">Solutions</a></li>
          <li ng-hide="true"><a href="#publication" class="page-scroll" >Blog</a></li>
           <li><a href="#partners" class="page-scroll">Partners</a></li>
          <li><a href="#contact" class="page-scroll">Contact Us</a></li>
        </ul>
        <p>Copyright &copy; 2019 ShopVitals. all rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

 <a href="#." class="go-top text-center"><i class="fa fa-angle-double-up"></i></a>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal Title Here</h4>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">SEE IT IN ACTION TODAY!</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
      <div class="center">
        <p class="title">Send Request for a demo and discover Smarter ShopVitals</p>
        <div class="alert alert-success alert-sm" ng-show="homeContactUsSuccess" ng-bind="homeContactUsSuccessMessage" ng-cloak>
				</div>
		<div class="alert alert-danger alert-sm" ng-show="homeContactUsError" ng-bind="homeContactUsErrorMessage" ng-cloak>
			</div>
        <h2 style="margin:0 0 20px;">Contact Us</h2>
        <form class="" id="contact-form" onSubmit="return false">
          <div class="row">
            <div class="col-md-12 center"><div id="result"></div> </div>
          </div>
          
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
              <input type="text" class="form-control" ng-model="contactUsPopupBean.name"  placeholder="Your Name" name="name" id="name" maxlength="50" ng-pattern='/^[A-Za-z\s]+$/' required>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
              <input type="email" class="form-control" ng-model="contactUsPopupBean.email"  placeholder="E-mail Address" name="email" id="email" required>
            </div>
            <div class="col-xs-12 col-md-12">
              <textarea style="margin:0 0 20px; min-height:100px;" ng-maxlength="240" ng-model="contactUsBean.message" placeholder="Message..." class="form-control" name="message" id="message"></textarea>
              <button type="submit" ng-show="!sendMessage" class="btn-black btn-blue bounce-green" id="btn_submit" ng-click="contactUsOnPopup()" ng-disabled="!contactUsPopupBean.name||!contactUsPopupBean.email"> Send Message </button>
               <button ng-show="sendMessage" class="btn-black btn-blue bounce-green" ng-disabled="true" ng-cloak>Send Message Processing
                     		<i class="fa fa-arrow-right fa-spinner fa-spin "></i>
    											 </button>
            </div>
          </div>
        </form>
      </div>
    </div>   </div>
     
    </div>
  </div>
</div>


<script src="resources/js/lib/angular-1.5.0/angular.min.js"></script>
<script src="resources/js/lib/angular-1.5.0/angular-resource.js"></script>
<script src="resources/js/lib/angular-1.5.0/angular-route.js"></script>
<script src="resources/js/lib/angular-1.5.0/angular-cookies.js"></script>
<script src="resources/js/lib/angular-1.5.0/angular-sanitize.js"></script>
<script src="resources/js/lib/angular-1.5.0/angular-touch.js"></script>
<script src="resources/js/lib/angular-1.5.0/angular-animate.js"></script>
<script src="resources/js/lib/angular/ui-bootstrap-1.2.5.js"></script>
<script src="resources/js/app.js"></script>
<script src="resources/js/services.js"></script>
<script src="resources/js/angular-google-maps.min.js"></script>


<script src="resources/js/controllers/HomeController.js"></script>
<script src="resources/js/controllers/ContactUsController.js"></script>
<script src="resources/js/filters.js"></script>
<script src="resources/js/directives.js"></script> 
<script src="resources/js/ng-google-chart.js"></script>
<script type="text/javascript" src="resources/js/webcam.min.js"></script>
<script type="text/javascript" src="resources/js/timer.js"></script>
<script src="resources/js/lib/angular/angular-slider.min.js"></script>

    	<!--Jquery Smooth Scrolling-->
<script src="resources/js/jquery.themepunch.tools.min.js"></script>
<script src="resources/js/jquery.themepunch.revolution.min.js"></script>
<script src="resources/js/jquery.easing.min.js"></script>
<script src="resources/js/owl.carousel.min.js"></script> 
<script src="resources/js/jquery-countTo.js"></script> 
<script src="resources/js/jquery.appear.js"></script> 
<script src="resources/js/jquery.circliful.js"></script>
<script src="resources/js/jquery.mixitup.min.js"></script>
<script src="resources/js/wow.min.js"></script>
<script src="resources/js/jquery.parallax-1.1.3.js"></script>
<script src="resources/js/jquery.fancybox.js"></script>
<script src="resources/js/jquery.fancybox-thumbs.js"></script>
<script src="resources/js/jquery.fancybox-media.js"></script>
<script src="resources/js/jPushMenu.js"></script>
<script src="resources/js/functions.js"></script>	
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5190855.js"></script>


 

</body>
</html>
