<div class="content-wrapper">
	<section class="content-header">
		<h1 ng-bind="'Page Access Rights For - '+(roleName)"></h1>
		<ol class="breadcrumb">
			<li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
			 <li><a href="#users">Users</a></li>
            <li ><a href="#roles">Roles</a></li>
			<li class="active">Page Access Rights</li>
		</ol>
	</section>
	<section class="content-header"></section>

	<div class="top-buffer-contact"></div>
	<div id="mydiv" ng-show="globalPageLoader" ng-cloak>
		<div class="loader"></div>
	</div>
	<!-- Main content -->
	<section class="content" ng-show="!globalPageLoader" ng-cloak>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				
				<vd-section sticky="" type="secondary"
					class="cv-action-bar vd-section vd-section--secondary"
					role="region">
				<div class="vd-section-wrap">
					<div
						class="vd-flex vd-flex--forced-row vd-flex--row vd-flex--justify-between vd-flex--align-center  ng-scope">


						<span> Manage user page access rights </span>
						<div class="vd-button-group">
							<button class="btn  btn-primary btn-lg" ng-click="updatePageRights()" ng-show="!loadingUpdate">Save</button>
							<button ng-show="loadingUpdate"
										class="btn  btn-primary btn-lg">
										Save Processing<i
											class="fa fa-arrow-right text-muted fa-spinner fa-spin "></i>
									</button>

						</div>
						
					</div>
				</div>
				</vd-section>

				<div class="box newFont">

					<div class="box-header">
						<div class="alert alert-success alert-sm"
							ng-show="manageRoleSuccess" ng-bind="manageRoleSuccessMessage"
							ng-cloak></div>
						<div class="alert alert-danger alert-sm" ng-show="manageRoleError"
							ng-bind="manageRoleErrorMessage" ng-cloak></div>
					</div>
					<!-- /.box-header -->
					<div class="box-body no-padding">
						<table id="myTable" class="table table-condensed">
							<div class="col-xs-1 text-left"
								style="margin-top: 10px; margin-bottom: 10px;margin-right:25px;">
								<div class="previous">
									<button class="btn btn-primary btn-xs"
										ng-show="!isEmployeeNotSelected"
										ng-click="selectUnselectAll(true)" ng-cloak>
										<b>Select All</b>
									</button>

								</div>

							</div>
							<div class="col-xs-9"
								>
								<div class="next" style="margin-top: 10px; margin-bottom: 10px;">
									<button class="btn btn-primary btn-danger btn-xs"
										ng-show="!isEmployeeNotSelected"
										ng-click="selectUnselectAll(false)" ng-cloak>
										<b>Un Select All</b>
									</button>

								</div>
							</div>

							<thead>
								<tr>
									<th>Page Name</th>
									<th>Visible</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="menuBean in menuBeanList">
									<td  ng-bind="menuBean.pageName"></td>
									<td style="text-align: center; vertical-align: middle;"><input type="checkbox" data-ng-model="menuBean.activeIndicatior"  ></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
				<div class="top-buffer-contact"></div>

			</div>
			<div class="col-md-2"></div>
		</div>
	</section>
</div>
<div class="container">
	<div class="row footer-row">
		<div class="col-lg-12 text-center">
			<div class="footerdiv navbar-fixed-bottom">&copy; copyrights
				ShopVitals 2021</div>
		</div>
	</div>
</div>
<!-- Modal -->


<!-- Modal end -->

<script src="resources/js/jquery.dataTables.min.js"></script>

<script src="resources/js/dataTables.responsive.min.js"></script>
<script src="resources/js/dataTables.buttons.min.js"></script>



<style>
table.dataTable thead .sorting, table.dataTable thead .sorting_asc,
	table.dataTable thead .sorting_desc {
	background: none;
}
</style>