<div class="container">
	<div class="content-wrapper">
		<section class="content-header">
			<h1>Manage Price Book</h1>
			<ol class="breadcrumb">
				<li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#priceBook">Price Books</a></li>
				<li class="active">Manage Price Book</li>
			</ol>
		</section>
		<section class="content-header"></section>
		<div id="mydiv" ng-show="globalPageLoader" ng-cloak>
			<div class="loader"></div>
		</div>

		<section class="content" ng-show="!globalPageLoader" ng-cloak>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="box">
						<div class="box-header">
							<i class="fi-page text-blue" style="font-size: 3em;"></i>
							<h3 class="box-title"> Details</h3>
							<div class="alert alert-success alert-sm" ng-show="priceBookSuccess"
								ng-bind="priceBookSuccessMessage" ng-cloak></div>
							<div class="alert alert-danger alert-sm" ng-show="priceBookError"
								ng-bind="priceBookErrorMessage" ng-cloak></div>
						</div>
						<!-- /.box-header -->
						<div class="box-body no-padding">
							<div class="box box-primary">
								<div class="row">
									<div class="col-md-1"></div>
									<div class="col-md-5">

										<div class="box-header with-border"></div>
										<!-- /.box-header -->
										<!-- form start -->
										<form class="form-horizontal">
											<div class="box-body">
												
												<div class="form-group">
													<label for="inputEmail3" class="col-sm-4 control-label">Name</label>
													<div class="col-sm-8">
														<input type="text" class="form-control"
															id="inputstoreName" placeholder="name..."
															data-ng-model="priceBookBean.priceBookName" maxlength="25"
															 required>
													</div>
												</div>
												<div class="form-group">
													<label for="inputEmail3" class="col-sm-4 control-label">Valid on</label>
													<div class="col-sm-8">
													<label class="radio-inline"><input type="radio" ng-model="validOn.value" value="Yes"> In Store</label>
													<label class="radio-inline"><input type="radio" ng-model="validOn.value" value="No">Ecommerce</label>
													 <!-- <input type="checkbox" ng-model="checkboxModel.value2"
													           ng-true-value="'YES'" ng-false-value="'NO'"> Yes </input>
													           <input type="checkbox" ng-model="checkboxModel.value2"
													           ng-true-value="'YES'" ng-false-value="'NO'"> No </input> -->
													  
													</div>
													
												</div>
											<div class="form-group">
													<label for="inputEmail3" class="col-sm-4 control-label">Customer group</label>
													<div class="col-sm-8">
														<select class="form-control " data-native-menu="false"
															data-role="listview" ng-disabled="true"
															data-ng-model="priceBookBean.contactGroupId" required>
															<option ng-repeat="customerGroup in customerGroupList"
																value="{{customerGroup.customerGroupId}}">{{customerGroup.customerGroupName}}</option>
														</select>
														<span ng-show="!priceBookBean.contactGroupId" style="color:red;">* Select Customer group</span>
													</div>
												</div>
												<!-- <div class="form-group">
													<label for="inputEmail3" class="col-sm-4 control-label">Outlet</label>
													<div class="col-sm-8">
														<select class="form-control select2" style="width: 100%;"
															data-ng-model="priceBookBean.outletId" ng-disabled="true"
															>
															<option ng-repeat="outlet in outletsList"
																value="{{outlet.outletId}}">{{outlet.outletName}}</option>
															<option value="-1">All Outlets</option>
														</select>
														 <span ng-show="!priceBookBean.outletId" style="color:red;">* Select Outlet</span>
													</div>
												</div> -->
												<div class="form-group">
													<label for="inputEmail3" class="col-sm-4 control-label">Selected Outlets</label>
													<div class="col-sm-6">
														<div  ng-show="!loading" ng-repeat="outlet in priceBookBean.outletBeans"><a href="" data-toggle="tooltip" data-placement="top" title="Price book's outlet" ng-click="removeOutletFromDisplayOutletList(outlet)">{{outlet.outletName}}
																</a></div>
													</div>
													
												</div>
											</div>
										</form>

									</div>
									<div class="col-md-5">

										<div class="box-header with-border"></div>
										<!-- /.box-header -->
										<!-- form start -->
										<form class="form-horizontal">
											<div class="box-body">
												<!-- <div class="form-group">
													<label for="inputEmail3" class="col-sm-4 control-label">Valid From</label>
													<div class="col-sm-8">
														<input type="date" class="form-control"
															id="inputstoreName" placeholder=""
															data-ng-model="registerBean.registerName" maxlength="25"
															 required>
													</div>
												</div>
												<div class="form-group">
													<label for="inputEmail3" class="col-sm-4 control-label">Valid To</label>
													<div class="col-sm-8">
														<input type="date" class="form-control"
															id="inputstoreName" placeholder="."
															data-ng-model="registerBean.registerName" maxlength="25"
															 required>
													</div>
												</div> -->
												<div class="form-group">
												<label for="inputEmail3" class="col-sm-4 control-label">Valid From</label>
									                <div class='input-group date' id='startDate'>
									                <label for="inputEmail3" class="form-control" >{{priceBookBean.validFrom}}</label>
									                    <input type='text' ng-show="false" class="form-control" ng-model="priceBookBean.validFrom"  id='startDate1' />
									                    <span class="input-group-addon text-green">
									                        <span class="glyphicon glyphicon-calendar"></span>
									                    </span>
									                </div>
									            </div>	
									            <div class="form-group">
												<label for="inputEmail3" class="col-sm-4 control-label">Valid To</label>
									                <div class='input-group date' id='endDate'>
									                <label for="inputEmail3" class="form-control">{{priceBookBean.validTo}}</label>
									                    <input type='text' ng-show="false" class="form-control" ng-model="priceBookBean.validTo"  id='endDate1' />
									                    <span class="input-group-addon text-blue">
									                        <span class="glyphicon glyphicon-calendar"></span>
									                    </span>
									                </div>
									            </div>	
									            <div class="form-group">
													<label for="inputEmail3" class="col-sm-4 control-label">Active Price Book</label>
													<div class="col-sm-8">
													<label class="radio-inline"><input type="checkbox" ng-model="gui.activePriceBook" ></label>
													</div>
												</div>
									            <div class="form-group">
													<label for="inputEmail3" class="col-sm-4 control-label">Flat sale</label>
													<div class="col-sm-8">
													<label class="radio-inline" ><input type="checkbox" ng-model="gui.flatSale" ng-disabled="true"></label>
													</div>
												</div>
												<div class="form-group" ng-show="gui.flatSale">
													<label for="inputEmail3" class="col-sm-4 control-label">Discont %</label>
													<div class="col-sm-8">
														<input type="text" class="form-control"
															id="inputstoreName" placeholder="name..." min="1"
															data-ng-model="priceBookBean.flatDiscount" ng-pattern='/^[0-9]+(\.[0-9]{1,5})?$/'
															 required>
													</div>
												</div>
											</div>
										</form>

									</div>
									<div class="col-md-1"></div>
								</div>
							</div>

						</div>
						<!-- /.box -->
						<div class="box-footer">

							<button
								class="btn btn-primary btn-sm pull-right btn-primary-spacing"
								ng-click="updatePriceBook()"
								ng-disabled="!priceBookBean.priceBookName"
								ng-show="!loading">Update</button>
							

							<button ng-show="loading" class="btn btn-primary btn-sm pull-right btn-primary-spacing">
								Update Processing<i
									class="fa fa-arrow-right text-muted fa-spinner fa-spin "> </i>
							</button>
							<a href="#priceBook"><button
									class="btn btn-default btn-sm pull-right btn-primary-spacing">Cancel</button></a>


						</div>
					</div>
					
					<!-- /.box-body -->
					<vd-section sticky="" type="secondary"
							class="cv-action-bar vd-section vd-section--secondary"
							role="region" >
						<div class="vd-section-wrap">
							<div class="">

								<div class="row">
									<div class="col-md-6">Product:</div>
									<!-- <div class="col-md-2"></div> -->
									<div class="col-md-2">Product Tag:</div>
									<div class="col-md-2" ng-show="gui.shwoProductTag">Discount %</div>
									
									
								</div>
								<div class="row">
									<div class="col-md-3">
										<div class="inner-addon right-addon">

											<i class="glyphicon glyphicon-search"></i> <input type="text"
												focus="true" ng-model="airportName"
												style="width: 100%; height: 50px; color: black"
												placeholder="Start typing or scanning..."
												auto-complete="autoCompleteOptions" />
										</div>
									</div>
									
									<div class="col-md-2">
										<button class="btn btn-success btn click-to-select unit "
											ng-click="addProduct()"
											ng-disabled="!productVariantBean.productVariantId">Add
											Product</button>
									</div>
									
									<div class="col-md-3" ng-show="gui.shwoProductTag">
										<div class="inner-addon right-addon">

											<i class="glyphicon glyphicon-search"></i> <input type="text"
												focus="true" ng-model="airportName1"
												style="width: 100%; height: 50px; color: black"
												placeholder="Start typing for tag..."
												auto-complete="autoCompleteTagOptions" />
										</div>
									</div>
									<div class="col-md-2">
										<div class="inner-addon right-addon">

											<input type="text"
												focus="true" ng-model="productTagBean.discount"
												style="width: 100%; height: 50px; color: black"
												placeholder="Discount Value in %..." ng-disabled="!productTagBean.tagId"
												 />
										</div>
									</div>
									
									<div class="col-md-1" ng-show="gui.shwoProductTag">
										<button class="btn btn-success btn click-to-select unit "
											ng-click="addProductByTag()"
											ng-disabled="!productTagBean.tagId">Add
											Product By Tag</button>
									</div>
										
								</div>
							</div>
						</div>

						</vd-section>
						
						<div class="box" >

							<!-- /.box-header -->
							<div class="box-body no-padding">
								<div class="box box-primary">
									<div class="row">
										<div class="col-md-12">

											<div class="box-header with-border"></div>
											<!-- /.box-header -->
											<!-- form start -->
											<div class="box-body">
												<div class="items-table">
													<div class="row header" ng-show="productList.length>0">
														<div class="col-md-2">Product</div>
														<div class="col-md-2">Supply Price</div>
														<div class="col-md-2">Markup % </div>
														<div class="col-md-2">Discount %</div>
														<div class="col-md-3">Retail Price <small>(Exclusive Tax)</small></div>
														<div class="col-md-1" ng-show="false">Min. Unit</div>
														<div class="col-md-1" ng-show="false">Max. Unit</div>
														
														<div class="col-md-1"></div>

													</div>
													</br>
													<div class="row invoice-item " ng-animate="'slide-down'"
														style="font-size: 12px" ng-show="productList.length>0">
														<div class="row items-sub-noMargin" style="margin-left:-3px;">
															<div class="col-md-2 remove-item-container"
																>Change all</div>
															<div class="col-md-2 input-container">
																
															</div>
															<div class="col-md-2 input-container">
																<input type="text"
																	data-ng-model="chanageForAll.markupPrct"
																	min="1" class="" id="Name" 
																	ng-pattern='/^[0-9]+(\.[0-9]{1,5})?$/'
																	 style="width: 100%;" ng-change="changeMarkUpForAll()">
															</div>
															<div class="col-md-2 input-container">
																<input type="text"
																	data-ng-model="chanageForAll.discount"
																	min="1" class="" id="Name" 
																	ng-pattern='/^[0-9]+(\.[0-9]{1,5})?$/'
																	 style="width: 100%;" ng-change="changeDiscountForAll()">
															</div>
															<div class="col-md-2 input-container">
																
															</div>
															
															
															<div class="col-md-1 input-container">
																
															</div>

														</div>
												</div>
												</br>
												<div class="row invoice-item " ng-animate="'slide-down'"
														style="font-size: 12px" ng-show="productList.length>0"
														ng-repeat="product in productList">
														<div class="row items-sub-noMargin" style="margin-left:-3px;">
															<div class="col-md-2 remove-item-container"
																ng-bind="product.variantAttributeName"></div>
															<div class="col-md-2 input-container">
																<input type="text"
																	data-ng-model="product.supplyPriceExclTax"
																	min="1" class="" id="Name" 
																	ng-pattern='/^[0-9]+(\.[0-9]{1,2})?$/'
																	required style="width: 100%;" ng-disabled="true">
															</div>
															<div class="col-md-2 input-container">
																<input type="text"
																	data-ng-model="product.markupPrct"
																	min="1" class="" id="Name" 
																	ng-pattern='/^[0-9]+(\.[0-9]{1,5})?$/'
																	required style="width: 100%;" ng-change="changeMarkUpAndDiscount(product)">
															</div>
															<div class="col-md-2 input-container">
																<input type="text"
																	data-ng-model="product.discount"
																	min="1" class="" id="Name" 
																	ng-pattern='/^[0-9]+(\.[0-9]{1,5})?$/'
																	required style="width: 100%;" ng-change="changeMarkUpAndDiscount(product)">
															</div>
															<div class="col-md-2 input-container">
																<input type="text"
																	data-ng-model="product.retailPrice"
																	min="1" class="" id="Name" 
																	ng-pattern='/^[0-9]+(\.[0-9]{1,2})?$/'
																	required style="width: 100%;" ng-disabled="true">
															</div>
															
															
															<div class="col-md-1 input-container">
																<button class="btn btn-danger btn-sm"
																	ng-click="deleteProdcutFromList(product)">
																	<i class="fa fa-trash"></i>
																</button>
															</div>

														</div>



													</div>




												</div>
												
											</div>
											
										</div>
									</div>
								</div>
							</div>
								<div class="box-footer" ng-show="productList.length>0">
									<button
										class="btn btn-primary btn-sm pull-right btn-primary-spacing"
										ng-click="manageProductsInPriceBook()"
										ng-disabled="productList.length<1"
										ng-show="!loading">Save</button>
									<button ng-show="loading" class="btn btn-primary btn-sm pull-right btn-primary-spacing">
										Save Processing<i
											class="fa fa-arrow-right text-muted fa-spinner fa-spin "> </i>
									</button>
									<a href="#priceBook"><button
											class="btn btn-default btn-sm pull-right btn-primary-spacing">Cancel</button></a>
								</div>




						</div>
					
				</div>
				<!-- /.box -->

			</div>
		</section>
		<div class="col-md-1"></div>
	</div>
</div>
	
 <div class="container">
		<div class="row footer-row">
			<div class="col-lg-12 text-center">
				<div class="footerdiv navbar-fixed-bottom">&copy; copyrights ShopVitals 2021</div>
			</div>
		</div>
	</div>





<div class="modal ng-scope" id="alertBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="alert alert-danger">
        <h4 class="" id="myModalLabel">Alert!</h4>
      </div>
      <div class="modal-body ng-binding">
        {{alertMessage}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade ng-scope" id="alertBox1" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
	style="display: none;" ng-cloak>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="alert alert-danger">
				<h4 class="" id="myModalLabel">Alert!</h4>
			</div>
			<div class="modal-body ng-binding" ng-bind="alertMessage"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				<button type="button" class="btn btn-primary"
					ng-click="markInactiveSelectiveProduct()"
					ng-show="!loading" ng-cloak>Yes</button>
				<button type="button" ng-show="loading"
					class="btn btn-primary" ng-disabled="true" ng-cloak>
					Yes <i class="fa fa-arrow-right fa-spinner fa-spin "></i>
				</button>
			</div>
		</div>
	</div>
</div>

	
<script>
      $(function () {
    	//  document.body.style.overflow = 'hidden';
    	 $('#startDate').datetimepicker({
    			 format:"YYYY-MM-DD"}
    			 );
    	 
    	 
      });
     
    </script>
<script>
      $(function () {
    	//  document.body.style.overflow = 'hidden';
    	 $('#endDate').datetimepicker({
    			 format:"YYYY-MM-DD"}
    			 );
    	 
      });
    </script>
    
 <script class="ng-scope" type="text/javascript">
    $("#startDate").on("dp.change",function (e) {
       //alert(angular.toJson(e.date));
        $("#startDate").trigger("change");
        $("#startDat1").trigger("change");
        
    });
    $("#endDate").on("dp.change",function (e) {
        // alert(angular.toJson(e.date));
         $("#endDate").trigger("change");
         $("#endDate1").trigger("change");
        
         
     });
    $("#startDate").on("dp.show",function (e) {
    	
    	$('#endDate').data("DateTimePicker").hide();
    	
    	
    });
    
	$("#endDate").on("dp.show",function (e) {
    	
    	$('#startDate').data("DateTimePicker").hide();
    	
    	
    });

 </script>
<style>
 table.dataTable thead .sorting, table.dataTable thead .sorting_asc,
	table.dataTable thead .sorting_desc {
	background: none;
}

.items-sub-noMargin {
	margin-left: 0px;
	margin-right: 0px;
}

.items-sub-table {
	margin-left: 15px;
	margin-right: 15px;
	background: white;
}

.items-table {
	margin-left: 15px;
	margin-right: 15px;
}

.items-table .row {
	border-bottom: 1px solid #ddd;
	line-height: 4em;
}

.items-table .row:last-child {
	border-bottom: none;
	line-height: 3em;
}

.items-table .row:nth-child(even) {
	background: #f9f9f9;
}

.items-table input {
	line-height: 2.5em;
}

.actions {
	padding-top: 1em;
}

input:focus {
	outline: 0;
}

.header.row {
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-size: 12px;
}

input, textarea {
	border: 1px solid #FFF;
}

.container input:hover, .container textarea:hover, .table-striped>tbody>tr:nth-child(2n+1)>td input:hover,
	.container input:focus, .container textarea:focus, .table-striped>tbody>tr:nth-child(2n+1)>td input:focus
	{
	border: 1px solid #CCC;
}

.table-striped>tbody>tr:nth-child(2n+1)>td input {
	background-color: #F9F9F9;
	border: 1px solid #F9F9F9;
}
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    width: 160%;
    margin-left: -25%;
}
.popup-transparent input[type=date], .popup-transparent input[type=time], .popup-transparent input[type=email], .popup-transparent input[type=number], .popup-transparent input[type=text], .popup-transparent input[type=password], .popup-transparent textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #777;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.59);
    color: #000;
    height: 25px;
}
</style>