<div class="container">
	<div class="row">
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Customers</h1>
				<ol class="breadcrumb">
					<li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
					<!-- <li><a href="#empView">Managed Services</a></li> -->
					<li class="active">Customers</li>
				</ol>
			</section>
			<section class="content-header"></section>
			<div class="top-buffer-contact"></div>
			<div id="mydiv" ng-show="globalPageLoader" ng-cloak>
				<div class="loader"></div>
			</div>
			
			<!-- Main content -->
			<section class="content" ng-show="!globalPageLoader" ng-cloak>
				<div class="row">
					<div class="col-md-7">


						<vd-section sticky="" type="secondary"
							class="cv-action-bar vd-section vd-section--secondary"
							role="region">
						<div class="vd-section-wrap">
							<div
								class="vd-flex vd-flex--forced-row vd-flex--row vd-flex--justify-between vd-flex--align-center  ng-scope">


								<span> Add, view and edit your customers all in one
									place. </span>

								<div class="vd-button-group">
									<button class="btn btn-success btn-lg" ng-click="addCustomer()">Add
										Customer</button>
								</div>
								<!-- 							<div class="vd-button-group"> Search
							 <input type="text" class="form-control"
									id="inputstoreName" placeholder="search"
									data-ng-model="filterBean.search" 
									ng-pattern='/^[A-Za-z\s]+$/' >                         
							</div>	 -->

							</div>
						</div>
						</vd-section>



						<div class="box box-primary newFont">
							<div class="box-header">
								<div class="alert alert-success alert-sm"
									ng-show="customersSuccess" ng-bind="customersSuccessMessage"
									ng-cloak></div>
								<div class="alert alert-danger alert-sm"
									ng-show="customersError" ng-bind="customersErrorMessage"
									ng-cloak></div>
							<!-- <div class="col-xs-1 "
								style="margin-top: 10px; margin-bottom: 10px;margin-right:25px;">
								<div class="previous">
									<button class="btn btn-success btn-xs"
										ng-show="!isEmployeeNotSelected"
										ng-click="activeInactiveAll(true)" ng-cloak>
										<b>Active All</b>
									</button>

								</div>

							</div>
							<div class="col-xs-9"
								>
								<div class="next" style="margin-top: 10px; margin-bottom: 10px;margin-left:20px;">
									<button class="btn btn-default btn-xs"
										ng-show="!isEmployeeNotSelected"
										ng-click="activeInactiveAll(false)" ng-cloak>
										<b>In Active All</b>
									</button>

								</div>
							</div> -->
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<table id="myTable" class="display" cellspacing="0" width="100%"
									ng-clock ng-show="customersList.length>0">
									<thead>
										<tr>
											<th>Contact</th>
											<th>Company</th>
											<!-- <th>Date</th> -->
											<th>Phone</th>
											<th>Group</th>
											<th>Balance</th>
											<th>Status</th>
											<th></th>

										</tr>
									</thead>
									<tbody>

										<tr
											ng-repeat="customer in customersList | filter:filterBean.search">
											<td ng-click="showCustomer(customer)"><a href=""
												ng-click="showCustomer(customer)">
													<div class="user-block">
														<div class="avatar micro">
															<img ng-src="resources/images/User.png">
															<div class="opacity-border"></div>
														</div>
														<span ng-bind="customer.contactName"></span>
													</div>
											</a></td>
											<td ng-bind="customer.companyName"></td>
										<!-- 	<td ng-bind="customer.createdDate"></td> -->
											<td ng-bind="customer.phoneNumber"></td>
											<td ng-bind="customer.customerGroupName"></td>
											<td ng-bind="customer.customerBalance"></td>
											<td><a href="" data-toggle="tooltip" title="Active"
												ng-click="editCustomer(customer)"><i
													class="btn btn-success btn-sm fa fa-power-off"
													aria-hidden="true"
													ng-show="customer.activeIndicator=='true'"></i></a> <a href=""
												data-toggle="tooltip" title="In Active"
												ng-click="editCustomer(customer)"> <i
													class="btn btn-default btn-sm fa fa-power-off"
													aria-hidden="true"
													ng-show="customer.activeIndicator=='false'"></i></td>
											<td>
												<button class="btn fa fa-edit btn-primary btn-sm"
													ng-click="updateCustomer(customer)"></button>
											</td>
										</tr>

										<!--  <tr>
						
				          <td ng-click="showCustomer()"> <a href="" ng-click="showProduct()">
				          <div class="user-block">
							<div class="avatar micro">
							<img ng-src="resources/images/User.png">
							<div class="opacity-border"></div>
							</div>
							<div class="user-info" ng-bind="customer.companyName">
														
							</div>
							</a>
						</div>
				          
				          </td>
				           <td>07 Jan 2017 </td>
				           <td >Test</td>
				           <td >-</td>
				           <td >Ali-M29E</td>
				           <td>PKR 495.00</td>
				           <td>PKR 45</td>
				          
				             <td>
				            <button  class="btn fa fa-edit btn-primary btn-sm" ng-click="UpdateEmployee(employeeBean)" ></button>
				             </td>
				        </tr> -->
									</tbody>
								</table>
							</div>
						</div>
						<div class="top-buffer-contact"></div>

					</div>
					<div class="col-md-5">
						<vd-section sticky="" type="primary"
							class="cv-action-bar vd-section vd-section--secondary"
							role="region">
						<div class="vd-section-wrap">
							<div
								class="vd-flex vd-flex--forced-row vd-flex--row vd-flex--justify-between vd-flex--align-center  ng-scope">

								<span> Search All Customers. </span>

								<div class="vd-button-group" ng-show="dataLoading">
									<button class="btn  btn-primary btn-lg"
										ng-click="lodAllCustomers()">Load All Customers</button>

								</div>
								<div class="vd-button-group" ng-show="!dataLoading">
									<button class="btn  btn-primary btn-lg" ng-disabled="true">
										Loading All Customers<i
											class="fa fa-arrow-right text-muted fa-spinner fa-spin "></i>
									</button>

								</div>

							</div>

						</div>

						</vd-section>

						<div class="box box-primary newFont">
							<div class="box-header"></div>
							<!-- /.box-header -->
							<div class="box-body">

								<div class="col-sm-12">
									<div class="top-buffer-div"></div>
									<div class="top-buffer-contact"></div>
									<div class="top-buffer-contact"></div>

									<div class="nav-tabs-custom">
										<div class="top-buffer-div"></div>
										<div class="nav-tabs-custom">
											<div class="inner-addon right-addon">

												<i class="glyphicon glyphicon-search"></i> <input
													type="text" ng-disabled="!dataLoading" focus="true"
													ng-model="CustomerName"
													style="width: 100%; height: 50px; color: black"
													placeholder="Search customers by name , phone and  balance ..."
													auto-complete="autoCompleteOptionsCustomers" />
											</div>

										</div>

									</div>
								</div>

								<div class="col-md-12">
									<div class="top-buffer-div"></div>

									<div class="well" style="height: 300px; background: white">
										<Span>Customers Count </Span><Span><b>(
												{{data.length}} ) </b></Span>

										<div style="margin-top: 50px;" id="chartContainerProductCount"></div>

									</div>

									<Span>Last 7 days Customer Rise Up </Span>
								</div>
							</div>

						</div>





					</div>
				</div>
			</section>
		</div>
		<!--  </div>-->
	</div>
</div>



<div class="container">
	<div class="row footer-row">
		<div class="col-lg-12 text-center">
			<div class="footerdiv navbar-fixed-bottom">&copy; copyrights
				ShopVitals 2020</div>
		</div>
	</div>
</div>
<style>
.center {
	margin-top: 50px;
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
	padding: 0;
}

.modal-footer .btn-group button {
	height: 40px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: none;
}

.modal-footer .btn-group:last-child>button {
	border-right: 0;
}

.modal-content {
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	outline: none;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	width: 65%;
	margin-left: 25%;
}
</style>
<!-- DataTables -->







<script src="resources/js/jquery.dataTables.min.js"></script>

<script src="resources/js/dataTables.responsive.min.js"></script>
<script src="resources/js/dataTables.buttons.min.js"></script>

<script src="resources/js/buttons.flash.min.js"></script>
<script src="resources/js/jszip.min.js"></script>
<script src="resources/js/pdfmake.min.js"></script>

<script src="resources/js/vfs_fonts.js"></script>
<script src="resources/js/buttons.html5.min.js"></script>
<script src="resources/js/buttons.print.min.js"></script>
<script src="resources/js/dataTables.colReorder.min.js"></script>






<!--  
 <script>
      $(function () {
    	//  document.body.style.overflow = 'hidden';
    	
    	  setTimeout(
    			  function() 
    			  {
    			  $('#myTable').DataTable( {
    			        responsive: true
    			    } );
    				 
    			  }, 1);
      
      });
      $(window, ".wrapper").resize(function () {
    	  setTimeout(
    			  function() 
    			  {
    				  var oTable = $('#myTable').dataTable();
    					oTable.fnDestroy();
    			  $('#myTable').DataTable( {
    			        responsive: true
    			    } );
    				 
    			  }, 1);
    	  });
    </script> -->
<style>
.user-block {
	white-space: nowrap;
}

@media ( min-width : 768px) .user-block {
	width
	:
	 
	inherit
	;
	

}

.avatar {
	display: inline-block;
	position: relative;
}

.user-block .user-info {
	display: inline-block;
	width: 55%;
	vertical-align: middle;
	margin-left: 10px;
}

.user-block img {
	width: 40px;
	height: 40px;
	float: left;
	border-radius: 50%;
}
</style>