<div class="container">
	<div class="row">
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Design Sell Layout</h1>
				<ol class="breadcrumb">
					<li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
					<!-- <li><a href="#empView">Managed Services</a></li> -->
					<li><a href="#sell">Sell</a></li>
					<li class="active">Design Layout</li>
				</ol>
			</section>
			<section class="content-header"></section>
			<div class="top-buffer-contact"></div>
			<div id="mydiv" ng-show="globalPageLoader" ng-cloak>
				<div class="loader"></div>
			</div>
			<!-- Main content -->
			<section class="content" ng-show="!globalPageLoader" ng-cloak>
				<div class="row" ng-show="!makePayment">
					<div class="col-md-1"></div>

					<div class="col-md-10">
					 <vd-section sticky="" type="secondary"
						class="cv-action-bar vd-section vd-section--secondary"
						role="region">
					<div class="vd-section-wrap">
						<div
							class="vd-flex vd-flex--forced-row vd-flex--row vd-flex--justify-between vd-flex--align-center  ng-scope">
							  
              
							<span>   Design Your Sell Layout.
							</span>
							<div class="vd-button-group">
							 <button class="btn btn-success btn-lg" ng-click="saveLayout()"
							 ng-show="!doneLoading">Save Layout</button>
						     
							</div>
								<button class="btn btn-success btn-lg pull-right" ng-show="doneLoading">
									<i class="fa fa-arrow-right text-muted fa-spinner fa-spin "></i>
									Processing
								</button>
						</div>
					</div>
					</vd-section>
						<div class="box box-info newFont">
							<div class="box-body box-profile popup-transparent">
								<div class="alert alert-success alert-sm" ng-show="success"
													ng-bind="successMessage" ng-cloak></div>
												<div class="alert alert-danger alert-sm" ng-show="error"
													ng-bind="errorMessage" ng-cloak></div>
							
								<b>Search for products</b>

								<div class="nav-tabs-custom">
									<div class="inner-addon right-addon">

										<i class="glyphicon glyphicon-search"></i> <input type="text"
											ng-model="airportName" style="width: 100%; height: 50px"
											placeholder="Start typing or scanning..."
											auto-complete="autoCompleteOptions" />
									</div>
									<div class="all-test-holder"
										style="overflow-y: auto; height: 532px;">
										<!--  ng-repeat = "layoutProduct in layoutProducts" -->
										<div ng-if = "layoutProduct.productName!=''" class="test" style="background: #acc3c5; margin-left: 5px;" ng-repeat = "layoutProduct in layoutProducts">
											<i  class="glyphicon glyphicon-remove" ng-click="removeProduct(layoutProduct)"></i>
											<a href="" >
												<h4 ng-bind="layoutProduct.productName"></h4>
											</a>

										</div>
										<div ng-if = "layoutProduct.productName==''" class="test" style="background: rgba(172, 195, 197, 0.11);  margin-left: 5px;border-style: dashed;border-color: rgba(172, 195, 197, 0.11);" ng-repeat = "layoutProduct in layoutProducts">
											<a href="" >
												<h4 Style="color: rgba(172, 195, 197, 0.11);">?</h4>
											</a>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-1"></div>
				</div>
				
			</section>
		</div>
		<!--  </div>-->
	</div>
</div>



<div class="container">
	<div class="row footer-row">
		<div class="col-lg-12 text-center">
			<div class="footerdiv navbar-fixed-bottom">&copy; copyrights
				ShopVitals 2019</div>
		</div>
	</div>
</div>


<style>
.center {
	margin-top: 50px;
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
	padding: 0;
}

.modal-footer .btn-group button {
	height: 40px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: none;
}

.modal-footer .btn-group:last-child>button {
	border-right: 0;
}

.modal-content {
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	outline: none;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	width: 100%;
	margin-top: 25%;
}

.newFont_receipt {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	font-weight: 800;
	font-size: xx-small;
}
</style>
