<div class="container">
	<div class="row">
	  <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
          In Active Price Books
          </h1>
          <ol class="breadcrumb">
            <li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">In Active Price Books</li>
          </ol>
        </section>
	     <section class="content-header">
   
    </section>
		 <div class="top-buffer-contact"> </div>
	 <div id="mydiv" ng-show="globalPageLoader" ng-cloak>
		<div class="loader"></div>
	</div>
			<!-- Main content -->
			<section class="content" ng-show="!globalPageLoader" ng-cloak>
  			 <div class="row">
	  <div class="col-md-1">
	   </div>
	   <div class="col-md-10">
	   			<vd-tabs modifier="no-border large" class="ng-scope ng-isolate-scope vd-tabs vd-tabs--no-border vd-tabs--large">
			 <vd-tab  class="po-users-tab ng-scope ng-isolate-scope vd-tab" type="anchor" active="this.activeTab == 'priceBook'" link="'#priceBook'">
				<a  class="vd-tab-button ng-scope" ng-href="#priceBook" href="/priceBook/"><span class="ng-scope">
			      Active Price Books
			    </span></a>
			</vd-tab>
			   <vd-tab type="anchor" active="this.activeTab == 'inActivePriceBook'" class="po-users-tab ng-scope ng-isolate-scope vd-tab vd-tab--active" link="'#inActivePriceBook'">
			<a  class="vd-tab-button ng-scope" ng-href="#inActivePriceBook"  href="/inActivePriceBook/"><span class="ng-scope">
			      In Active Price Books
			    </span></a>
			</vd-tab>
			  </vd-tabs>
	   
			   <vd-section sticky="" type="secondary"
						class="cv-action-bar vd-section vd-section--secondary"
						role="region">
					<div class="vd-section-wrap">
						<div
							class="vd-flex vd-flex--forced-row vd-flex--row vd-flex--justify-between vd-flex--align-center  ng-scope">
							  
              
							<span>   A list of all of your in active price books.
							</span>
							<div class="vd-button-group">
							 <button class="btn btn-success btn-lg" ng-click="addPriceBook()">Add Price Book</button>
                                
							</div>
						</div>
					</div>
					</vd-section>

	    	
	    			<div class="box box-primary newFont">
                <div class="box-header">
               
				 </div><!-- /.box-header -->
				<div class="box-body">
				<table id="myTable"  class="display" cellspacing="0" width="100%"  ng-clock ng-show="priceBookList.length>0">
				    <thead >
				        <tr >
				           <th>Price Book Name</th>
				          <th>Customer Group</th>
				           <th>Outlet</th>
				            <th>Valid From</th>
				             <th>Valid To</th>
				              <th>Created At</th>
				               <th>Status</th>
				              <th ng-show="roledId=='1'"></th>
				        </tr>
				    </thead>
				    <tbody>
				          <tr ng-repeat="priceBook in priceBookList">
						
				           <td ng-bind="priceBook.priceBookName" style="Cursor:pointer;"></td>
				           <td ng-bind="priceBook.contactGroupName"></td>
				           <td ng-bind="priceBook.outletName"></td>
				           <td ng-bind="priceBook.validFrom"></td>
				            <td ng-bind="priceBook.validTo"></td>
				           <td ng-bind="priceBook.createdDate"></td>
				           <td ><a href="" data-toggle="tooltip" title="Active" ng-click="editPriceBook(priceBook)"><i class="btn btn-success btn-sm fa fa-power-off"  aria-hidden="true" ng-show="priceBook.active=='true'"></i></a>
				           <a href="" data-toggle="tooltip" title="Active Expire" ng-click="editPriceBook(priceBook)"><i class="btn btn-warning btn-sm fa fa-power-off"  aria-hidden="true" ng-show="priceBook.active=='expire'"></i></a>
				           	<a href="" data-toggle="tooltip" title="In Active" ng-click="editPriceBook(priceBook)"> <i class="btn btn-default btn-sm fa fa-power-off"  aria-hidden="true" ng-show="priceBook.active=='false'"></i>
				          </td>
				           <td ng-show="roledId=='1'">
				            <button  class="btn fa fa-edit btn-primary btn-sm" ng-click="editPriceBook(priceBook)" ></button>
				             </td>
				        </tr>
				    </tbody>
				</table>
				</div>
			</div>
                 <div class="top-buffer-contact"> </div>
                 
                         </div>
               <div class="col-md-2">
	   </div>
	</div>
	</section>
			</div>
		<!--  </div>-->
	</div>
</div>

        

 <div class="container">
		<div class="row footer-row">
			<div class="col-lg-12 text-center">
				<div class="footerdiv navbar-fixed-bottom">&copy; copyrights ShopVitals
					2017</div>
			</div>
		</div>
	</div>
    <style>
.center {
    margin-top:50px;   
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
        padding: 0;
}
    
.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
}
    
.modal-footer .btn-group:last-child > button {
    border-right: 0;
}
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    width: 65%;
    margin-left: 25%;
}
</style>
    <!-- DataTables -->
     <script src="resources/js/jquery.dataTables.min.js"></script>
    
     <script src="resources/js/dataTables.responsive.min.js"></script>
     <script src="resources/js/dataTables.buttons.min.js"></script>
     
  
       
   
   
 <!-- <script>
      $(function () {
    	//  document.body.style.overflow = 'hidden';
    	
    	  setTimeout(
    			  function() 
    			  {
    			  $('#myTable').DataTable( {
    			        responsive: true
    			    } );
    				 
    			  }, 1);
      
      });
      $(window, ".wrapper").resize(function () {
    	  setTimeout(
    			  function() 
    			  {
    				  var oTable = $('#myTable').dataTable();
    					oTable.fnDestroy();
    			  $('#myTable').DataTable( {
    			        responsive: true
    			    } );
    				 
    			  }, 1);
    	  });
    </script> -->
<style>
 .user-block {
    white-space: nowrap;
}

@media (min-width: 768px)
.user-block {
    width: inherit;
}
.avatar {
    display: inline-block;
    position: relative;
}
 .user-block .user-info {
    display: inline-block;
    width: 55%;
    vertical-align: middle;
    margin-left: 10px;
}
.user-block img {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
}


</style>